/*============ 0. Reset =============*/
* {
  margin: 0;
  padding: 0; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: 'sfuiText_regular',Helvetica,sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
  /*-webkit-font-smoothing: antialiased;*/ }
  @media (max-width: 767px) {
    body {
      font-size: 14px; } }

.hidden {
  display: none !important; }

/* 1.2 - HTML5 Elements */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block; }

a, a:hover {
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

a:hover {
  text-decoration: none; }

img, svg {
  max-width: 100%; }

ol, ul {
  margin: 0; }

p {
  margin: 0 0 10px; }

:root {
  --color-main: #0047BA; }

/*============ 1. GENERAL ==============*/
.brand-googleretail-1 {
  fill: #4885ed; }

.brand-googleretail-2 {
  fill: #db3236; }

.brand-googleretail-3 {
  fill: #f4c20d; }

.brand-googleretail-4 {
  fill: #3cba54; }

.brand-googleretail-5 {
  fill: #73716f; }

.os-animation, .staggered-animation {
  opacity: 0; }

.os-animation.animated, .staggered-animation.animated {
  opacity: 1; }

@media (max-width: 991px) {
  .os-animation, .staggered-animation {
    opacity: 1;
    animation-name: none !important; }
  .os-animation.animated, .staggered-animation.animated {
    opacity: 1;
    animation-name: none !important; } }

.sitebox-heading {
  margin-bottom: 30px; }
  .sitebox-heading h2 {
    line-height: 43.2px;
    font-size: 36px;
    /*font-weight: 700;*/
    color: var(--color-main);
    margin: 0 0 5px;
    font-family: var(--hrv-font-family-bold);
    letter-spacing: -0.9px; }
  .sitebox-heading .subtitle {
    font-size: 21px;
    color: #19191B;
    margin: 0;
    line-height: 28.8px;
    letter-spacing: -0.6px; }
  @media (max-width: 1199px) and (min-width: 992px) {
    .sitebox-heading h2 {
      font-size: 28px; } }
  @media (max-width: 991px) {
    .sitebox-heading {
      text-align: center; }
      .sitebox-heading h2 {
        font-size: 26px; }
      .sitebox-heading .subtitle {
        font-size: 18px; } }
  @media (max-width: 767px) {
    .sitebox-heading {
      margin-bottom: 20px; }
    .sitebox-heading h2 {
      font-size: 22px;
      line-height: 32px; }
    .sitebox-heading .subtitle {
      font-size: 16px;
      line-height: 24px; } }
  @media (max-width: 576px) {
    .sitebox-heading .subtitle {
      font-size: 14px; } }

.sitebox-actions .btn-trial {
  position: relative;
  font-size: 16px;
  font-family: var(--hrv-font-family-bold), sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background: #3D7BF6;
  border: 1px solid #3D7BF6;
  padding: 15px 24px 12px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  outline: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.14); }
  .sitebox-actions .btn-trial:before {
    content: '';
    background-color: #3d60c3;
    position: absolute;
    top: 0;
    left: -2px;
    width: 0%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .sitebox-actions .btn-trial.disabled {
    pointer-events: none;
    opacity: 0.7; }
  .sitebox-actions .btn-trial--white {
    color: var(--color-main);
    background: #ffffff;
    border-color: transparent; }
  .sitebox-actions .btn-trial--white2 {
    color: #57072D;
    background: #ffffff;
    border-color: transparent; }
  .sitebox-actions .btn-trial:hover, .sitebox-actions .btn-trial:focus {
    color: #ffffff;
    background: #315dd7;
    border-color: #315dd7; }
  .sitebox-actions .btn-trial--white:hover, .sitebox-actions .btn-trial--white:focus {
    color: #ffffff;
    background: #3D7BF6;
    border-color: #3D7BF6; }
  .sitebox-actions .btn-trial--white2:hover, .sitebox-actions .btn-trial--white2:focus {
    color: #ffffff;
    background: #57072D;
    border-color: #57072D; }
  .sitebox-actions .btn-trial--start {
    background: #FF9D29; }
  .sitebox-actions .btn-trial--solution {
    color: #2962FF;
    background: #ffffff;
    box-shadow: none; }
    .sitebox-actions .btn-trial--solution:focus {
      color: #2962FF;
      background: #ffffff; }
  .sitebox-actions .btn-trial--sales {
    color: #2962FF;
    background: #ffffff; }

.sitebox-actions .txt-note {
  margin: 0;
  font-style: italic;
  font-size: 14px;
  margin: 0; }

.sitebox-actions .btn-disabled {
  background: #a2a2a2;
  border-color: #a2a2a2;
  pointer-events: none; }

@media (max-width: 991px) {
  .sitebox-actions .btn-trial {
    font-size: 16px;
    padding: 10px 15px 8px; } }

@media (max-width: 767px) {
  .sitebox-actions {
    text-align: center; }
    .sitebox-actions .btn-trial {
      font-size: 14px;
      padding: 10px 15px 8px; } }

section h3 {
  color: var(--color-main);
  font-family: var(--hrv-font-family-bold);
  font-size: 24px;
  /*font-weight: 700;*/
  line-height: 120%;
  /* 26.4px */
  letter-spacing: -0.6px; }

section h4 {
  color: var(--color-main);
  font-family: var(--hrv-font-family-bold);
  font-size: 24px;
  /*font-weight: 700;*/
  line-height: 28.8px;
  letter-spacing: -0.5px; }

section .detail-desc {
  line-height: 26px; }

.subhead {
  font-size: 24px;
  font-family: var(--hrv-font-family-bold);
  line-height: 28.80px;
  margin-bottom: 15px; }

.subhead1 {
  text-transform: uppercase; }

.subhead2 {
  font-family: var(--hrv-font-family-regular); }

@media (max-width: 991px) {
  section h3 {
    font-size: 18px; }
  section h4 {
    font-size: 22px; }
  .subhead {
    font-size: 20px;
    margin-bottom: 5px; } }

@media (max-width: 767px) {
  section h3 {
    font-size: 18px; }
  section h4 {
    font-size: 20px; }
  .subhead {
    font-size: 16px;
    line-height: 24px; } }

.cl-white {
  color: #ffffff !important; }

[class^="section-hrretail-"] {
  padding: 60px 0;
  /*overflow-x: hidden;*/ }

@media (max-width: 767px) {
  [class^="section-hrretail-"] {
    padding: 40px 0; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

@media (min-width: 1366px) {
  .container {
    max-width: 1250px; }
  section:not(.section-hrretail-overview) .container {
    padding: 0 35px; } }

ul.primary-menu:not(.primary-menu-linkmore) > li.active > a {
  color: var(--color-main); }

.mainHeader-haraweb .wrapper-navbar-primary .logo-primary {
  font-size: 20px;
  color: #2A363B; }

.sitebox-wrap {
  margin-bottom: 25px; }
  .sitebox-wrap .group-txtlist li {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px; }
    .sitebox-wrap .group-txtlist li:before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 14 12' fill='none'%3E%3Cpath d='M4.8819 11.7195L0.0874939 6.43951L1.68261 4.67953L4.8819 8.19952L12.069 0.269531L13.6641 2.02953L4.8819 11.7195Z' fill='%23fff'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 4px;
      left: 0;
      width: 14px;
      height: 14px; }
  @media (max-width: 767px) {
    .sitebox-wrap .group-txtlist li {
      font-size: 14px;
      line-height: 22px; } }

.section-hrretail-overview {
  padding: 0;
  background: #BF045B; }
  .section-hrretail-overview .overview-detail .subhead1 {
    color: var(--color-main); }
  .section-hrretail-overview .overview-detail .subhead2 {
    color: #263238;
    margin-bottom: 30px; }
  .section-hrretail-overview .overview-detail h1 {
    color: var(--color-main);
    font-size: 42px;
    font-family: var(--hrv-font-family-bold);
    /*font-weight: 700;*/
    line-height: 50.40px;
    margin-bottom: 15px; }
  @media (min-width: 992px) {
    .section-hrretail-overview {
      overflow-x: hidden; }
      .section-hrretail-overview .overview-detail {
        padding-right: 0px;
        padding-left: 0; }
      .section-hrretail-overview .overview-image--inner .sitebox-image {
        width: 150%;
        margin-left: -18%;
        margin-top: -1px; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .section-hrretail-overview .overview-detail h1 {
      font-size: 32px;
      line-height: 40px; }
    .section-hrretail-overview .overview-detail .subhead {
      font-size: 20px; }
    .section-hrretail-overview .overview-detail .sitebox-wrap .group-txtlist li {
      font-size: 15px;
      line-height: 24px; }
    .section-hrretail-overview .overview-image--inner .sitebox-image {
      width: 130%;
      margin-left: 0; } }
  @media (max-width: 991px) {
    .section-hrretail-overview {
      text-align: center; }
      .section-hrretail-overview .overview-detail--inner {
        padding: 40px 0; }
      .section-hrretail-overview .overview-image--inner .sitebox-image {
        margin-left: -30px; } }
  @media (max-width: 767px) {
    .section-hrretail-overview .overview-detail h1 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 10px; } }

.section-hrretail-why .item-why .img-why {
  margin-bottom: 20px; }
  .section-hrretail-why .item-why .img-why img {
    border-radius: 20px 20px 0 0; }

.section-hrretail-why .item-why .detail-why {
  padding: 0 10px; }

@media (max-width: 991px) {
  .section-hrretail-why .row {
    flex-flow: nowrap;
    overflow-x: scroll; } }

.section-hrretail-solution .sitebox-heading h2 {
  margin-top: 20px; }

.section-hrretail-solution .solution-detail {
  margin-top: 20px; }

.section-hrretail-solution .table-inventory .table-title {
  display: flex;
  align-items: center; }
  .section-hrretail-solution .table-inventory .table-title .title-item {
    color: var(--color-main);
    font-size: 18px;
    font-family: var(--hrv-font-family-bold);
    /*font-weight: 700;*/
    line-height: 21.60px;
    padding: 8px 15px; }
    .section-hrretail-solution .table-inventory .table-title .title-item:first-child {
      flex: 0 0 33%; }

.section-hrretail-solution .table-inventory .item-inventory {
  border-top: 1px #D5D5D5 solid;
  display: flex; }
  .section-hrretail-solution .table-inventory .item-inventory > div {
    padding: 20px 0 20px 15px; }
  .section-hrretail-solution .table-inventory .item-inventory .col-first {
    flex: 0 0 32%; }
  .section-hrretail-solution .table-inventory .item-inventory .col-last ul {
    list-style: disc;
    padding-left: 35px;
    /*b {
						color: #4A95FF;
						font-weight: 700;
					}*/ }
    .section-hrretail-solution .table-inventory .item-inventory .col-last ul li {
      color: #2A363B;
      font-size: 16px;
      line-height: 25.60px;
      margin-bottom: 8px; }

.section-hrretail-solution .table-more {
  padding: 12px 15px;
  border-top: 1px #D5D5D5 solid;
  border-bottom: 1px #D5D5D5 solid;
  background: #FFF3E0; }
  .section-hrretail-solution .table-more .btn-more {
    color: var(--color-main);
    font-size: 18px;
    font-family: var(--hrv-font-family-bold);
    /*font-weight: 700;*/
    cursor: pointer; }

.section-hrretail-solution .solution-content {
  margin-top: 20px; }
  .section-hrretail-solution .solution-content .table-more {
    background: #EEFAFF;
    border-top: 1px #D5D5D5 solid;
    border-bottom: 1px #D5D5D5 solid; }

.section-hrretail-solution .sitebox-actions {
  margin-top: 30px; }

.section-hrretail-solution.section-hrretail-solution-1 {
  background: #FFF7EB; }
  .section-hrretail-solution.section-hrretail-solution-1 .solution-title {
    padding-right: 56px; }

.section-hrretail-solution.section-hrretail-solution-2 .table-inventory .item-inventory {
  border-top: 1px #D5D5D5 solid; }
  .section-hrretail-solution.section-hrretail-solution-2 .table-inventory .item-inventory:last-child {
    border-bottom: 1px #D5D5D5 solid; }

.section-hrretail-solution.section-hrretail-solution-3 {
  background: #FFF7EB; }
  .section-hrretail-solution.section-hrretail-solution-3 .table-inventory .item-inventory:last-child {
    border-bottom: 1px #FDD8B6 solid; }

@media (max-width: 991px) {
  .section-hrretail-solution .sitebox-heading h2 {
    margin-top: 0; }
  .section-hrretail-solution.section-hrretail-solution-1 .solution-title {
    padding-right: 15px; }
  .section-hrretail-solution .table-inventory .table-title .title-item {
    font-size: 16px;
    padding: 15px 10px; }
  .section-hrretail-solution .table-inventory .item-inventory > div {
    padding: 15px 10px; }
  .section-hrretail-solution .table-inventory .item-inventory .col-last ul li {
    font-size: 14px; } }

@media (max-width: 767px) {
  .section-hrretail-solution .table-inventory .table-title .title-item {
    font-size: 14px; }
    .section-hrretail-solution .table-inventory .table-title .title-item:first-child {
      flex: 0 0 35%; }
  .section-hrretail-solution .table-inventory .item-inventory .col-first {
    flex: 0 0 35%; } }

@media (max-width: 480px) {
  .section-hrretail-solution .table-inventory .table-title .title-item {
    font-size: 12px;
    padding: 8px 0px; }
    .section-hrretail-solution .table-inventory .table-title .title-item:first-child {
      padding-left: 5px; }
    .section-hrretail-solution .table-inventory .table-title .title-item:last-child {
      padding-left: 20px; }
  .section-hrretail-solution .table-inventory .item-inventory > div {
    padding: 10px 0 0 5px; }
  .section-hrretail-solution .table-inventory .item-inventory .col-first {
    flex: 0 0 30%; }
    .section-hrretail-solution .table-inventory .item-inventory .col-first h3 {
      font-size: 14px;
      line-height: 20px; }
  .section-hrretail-solution .table-inventory .item-inventory .col-last ul {
    padding-left: 30px; }
    .section-hrretail-solution .table-inventory .item-inventory .col-last ul li {
      font-size: 12px;
      line-height: 18px; }
  .section-hrretail-solution .table-more .btn-more {
    font-size: 14px; } }

@media (max-width: 375px) {
  .section-hrretail-solution .table-inventory .table-title .title-item {
    font-size: 11px; }
    .section-hrretail-solution .table-inventory .table-title .title-item:first-child {
      padding-left: 5px; }
    .section-hrretail-solution .table-inventory .table-title .title-item:last-child {
      padding-left: 5px; }
  .section-hrretail-solution .table-inventory .item-inventory .col-first h3 {
    font-size: 13px;
    line-height: 18px; }
  .section-hrretail-solution .table-inventory .item-inventory .col-last ul {
    padding-left: 30px; } }

.section-hrretail-customers {
  padding-top: 30px; }
  .section-hrretail-customers .item-customer .img-customer {
    margin-bottom: 15px; }
  .section-hrretail-customers .item-customer .detail-customer {
    padding: 0 5px; }
    .section-hrretail-customers .item-customer .detail-customer .detail-title {
      color: var(--color-main);
      font-size: 24px;
      font-family: var(--hrv-font-family-bold);
      line-height: 28.80px;
      margin-bottom: 5px; }
    .section-hrretail-customers .item-customer .detail-customer .detail-desc {
      color: #2A363B;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 20px; }
    .section-hrretail-customers .item-customer .detail-customer .detail-name {
      color: var(--color-main);
      font-size: 16px;
      /*font-weight: 700;*/
      line-height: 24px;
      margin-bottom: 0; }
    .section-hrretail-customers .item-customer .detail-customer .detail-position {
      color: #2A363B;
      font-size: 16px;
      line-height: 26px; }
  .section-hrretail-customers .customers-logo {
    margin-top: 30px; }
    .section-hrretail-customers .customers-logo .item-logo {
      /*height: 100%;*/
      padding: 0 10px;
      height: 100px;
      border-radius: 4px;
      border: 1px #D5D5D5 solid;
      display: flex;
      align-items: center;
      justify-content: center; }
      .section-hrretail-customers .customers-logo .item-logo img {
        height: auto; }
  @media (max-width: 991px) {
    .section-hrretail-customers .row:not(.customers-logo) {
      flex-flow: nowrap;
      overflow-x: scroll; }
    .section-hrretail-customers .customers-logo .item-logo {
      margin-bottom: 15px; } }
  @media (max-width: 767px) {
    .section-hrretail-customers .item-customer .detail-customer .detail-title {
      font-size: 18px; }
    .section-hrretail-customers .item-customer .detail-customer .detail-desc, .section-hrretail-customers .item-customer .detail-customer .detail-name, .section-hrretail-customers .item-customer .detail-customer .detail-position {
      font-size: 14px; } }

.group-section {
  background: #011126; }
  .group-section .subhead {
    font-family: var(--hrv-font-family-regular); }

.section-hrretail-better {
  padding-bottom: 0; }
  .section-hrretail-better .list-better .item-better .item-box {
    padding: 12px 0;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #fff; }
    .section-hrretail-better .list-better .item-better .item-box--title {
      font-size: 78px;
      font-weight: 300;
      line-height: 90px;
      letter-spacing: -6px; }
    .section-hrretail-better .list-better .item-better .item-box--desc {
      font-size: 20px;
      /*font-weight: 700;*/
      font-family: var(--hrv-font-family-bold);
      line-height: 24px; }
    .section-hrretail-better .list-better .item-better .item-box--img {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 15px 0 0 10px; }
  .section-hrretail-better .list-better .item-better:last-child .item-box {
    padding-top: 30px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .section-hrretail-better .list-better .item-better .item-box--img img {
      max-height: 55px; } }
  @media (max-width: 991px) {
    .section-hrretail-better .sitebox-heading {
      margin-bottom: 15px; }
    .section-hrretail-better .list-better .item-better .item-box {
      margin-bottom: 0px; }
      .section-hrretail-better .list-better .item-better .item-box--title {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -1px; }
      .section-hrretail-better .list-better .item-better .item-box--desc {
        font-size: 18px; }
      .section-hrretail-better .list-better .item-better .item-box--img img {
        max-height: 55px;
        width: auto; } }
  @media (max-width: 767px) {
    .section-hrretail-better .list-better .item-better .item-box--title {
      font-size: 24px;
      line-height: 30px; }
    .section-hrretail-better .list-better .item-better .item-box--desc {
      font-size: 14px; }
    .section-hrretail-better .list-better .item-better .item-box--img {
      gap: 3px;
      margin: 5px 0 0 0px; }
      .section-hrretail-better .list-better .item-better .item-box--img img {
        max-height: 30px; } }
  @media (max-width: 480px) {
    .section-hrretail-better .sitebox-heading {
      margin-bottom: 0px;
      text-align: center; }
    .section-hrretail-better .list-better .item-better .item-box {
      padding: 8px 0; } }

.section-hrretail-manage {
  padding: 30px 0 0; }
  .section-hrretail-manage .manage-content .sitebox-heading {
    margin-bottom: 20px; }
    .section-hrretail-manage .manage-content .sitebox-heading h2 {
      margin: 0 0 15px; }
  @media (max-width: 767px) {
    .section-hrretail-manage .subhead {
      font-size: 18px; } }
  @media (max-width: 480px) {
    .section-hrretail-manage .sitebox-heading {
      text-align: center; } }

.section-hrretail-integration {
  padding-top: 30px; }
  .section-hrretail-integration .integration-tag {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px; }
    .section-hrretail-integration .integration-tag .item-tag {
      font-size: 14px;
      /*font-weight: 700;*/
      line-height: 24px;
      color: #fff;
      border: 1px solid;
      border-radius: 30px;
      padding: 6px 12px; }
  .section-hrretail-integration .integration_carousel:not(.owl-loaded) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden; }
  .section-hrretail-integration .integration_carousel:not(.owl-loaded) > div {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  .section-hrretail-integration .integration_carousel .item-integration {
    padding: 0 15px; }
    .section-hrretail-integration .integration_carousel .item-integration .item-img {
      background: #fff; }
    .section-hrretail-integration .integration_carousel .item-integration .item-detail {
      margin-top: -1px;
      padding: 16px 12px;
      background: #F5F5F5;
      border-top: 1px #E1E1E1 solid;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .section-hrretail-integration .integration_carousel .item-integration .item-detail .detail-title {
        color: var(--color-main);
        font-size: 20px;
        font-family: var(--hrv-font-family-bold);
        /*font-weight: 700;*/
        line-height: 24px; }
      .section-hrretail-integration .integration_carousel .item-integration .item-detail .btn-buy {
        color: var(--color-main);
        font-size: 16px;
        /*font-weight: 700;*/
        line-height: 24px;
        padding: 8px 24px;
        border-radius: 4px;
        border: 1px #0047BA solid; }
  .section-hrretail-integration .integration_carousel .owl-nav button {
    position: absolute;
    top: 40%;
    left: -18px;
    width: 68px;
    height: 68px;
    background: #4A95FF !important;
    box-shadow: 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
    border-radius: 50%;
    outline: none; }
    .section-hrretail-integration .integration_carousel .owl-nav button.owl-next {
      left: auto;
      right: -18px; }
  @media (max-width: 991px) {
    .section-hrretail-integration .sitebox-heading {
      margin-bottom: 20px;
      text-align: center; }
    .section-hrretail-integration .integration-tag {
      justify-content: center; } }
  @media (max-width: 767px) {
    .section-hrretail-integration .integration_carousel:not(.owl-loaded) > div {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    .section-hrretail-integration .integration_carousel .owl-nav button {
      left: 5px;
      width: 40px;
      height: 40px; }
      .section-hrretail-integration .integration_carousel .owl-nav button img {
        width: 6px;
        height: auto; }
      .section-hrretail-integration .integration_carousel .owl-nav button.owl-next {
        left: auto;
        right: 5px; } }
  @media (max-width: 576px) {
    .section-hrretail-integration .integration_carousel:not(.owl-loaded) > div {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    .section-hrretail-integration .integration-tag .item-tag {
      font-size: 12px;
      padding: 2px 10px; } }

.section-hrretail-freetrial {
  padding: 100px 0;
  background: var(--color-main); }
  .section-hrretail-freetrial .sitebox-heading {
    margin-bottom: 0; }
  .section-hrretail-freetrial .subhead-freetrial {
    font-size: 18px;
    font-weight: 500;
    line-height: 28.80px;
    margin: 0; }
  .section-hrretail-freetrial .freetrial-title {
    line-height: 43.2px;
    font-size: 36px;
    margin: 0 0 5px;
    font-family: var(--hrv-font-family-bold);
    letter-spacing: -0.9px; }
  @media (max-width: 991px) {
    .section-hrretail-freetrial .sitebox-heading {
      margin-bottom: 20px;
      text-align: center; }
    .section-hrretail-freetrial .freetrial-title {
      font-size: 26px; } }
  @media (max-width: 767px) {
    .section-hrretail-freetrial {
      padding: 50px 0; }
      .section-hrretail-freetrial .subhead-freetrial {
        font-size: 16px; }
      .section-hrretail-freetrial .freetrial-title {
        font-size: 22px; } }

.section-hrretail-questions .accordion-questions .questions-item {
  padding: 26px 12px;
  border-top: 1px rgba(0, 0, 0, 0.1) solid; }
  .section-hrretail-questions .accordion-questions .questions-item__title {
    position: relative;
    padding-right: 40px;
    cursor: pointer; }
    .section-hrretail-questions .accordion-questions .questions-item__title h3 {
      color: var(--color-main);
      font-size: 20px;
      font-family: var(--hrv-font-family-bold);
      line-height: 24px;
      margin: 0; }
    .section-hrretail-questions .accordion-questions .questions-item__title .plus-icon {
      width: 25px;
      height: 25px;
      position: absolute;
      right: -5px;
      top: calc(50% - 12px); }
      .section-hrretail-questions .accordion-questions .questions-item__title .plus-icon:before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        top: 2px;
        right: 2px;
        text-align: center;
        background-image: url(https://file.hstatic.net/1000001117/file/icon-down_55a7d66a86604397ae2d34a70cfbf725.webp);
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: center;
        transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s; }
  .section-hrretail-questions .accordion-questions .questions-item__content {
    padding-top: 15px;
    display: none; }
    .section-hrretail-questions .accordion-questions .questions-item__content p {
      color: #2A363B;
      font-size: 16px;
      line-height: 26px;
      margin: 0; }
    .section-hrretail-questions .accordion-questions .questions-item__content p a {
      padding-bottom: 2px;
      text-decoration: none;
      letter-spacing: -0.43px;
      color: #1876d2;
      background-image: linear-gradient(to right, #1876d2 0%, #1876d2 100%);
      background-size: 100% 1px;
      background-position: 0px 90%;
      background-repeat: no-repeat;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s; }
    .section-hrretail-questions .accordion-questions .questions-item__content p a:hover {
      background-size: 0px 1px;
      text-decoration: none; }
  .section-hrretail-questions .accordion-questions .questions-item.is-active .questions-item__title .plus-icon:before {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.section-hrretail-questions .accordion-questions > div:last-child .questions-item {
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }

@media (max-width: 991px) {
  .section-hrretail-questions .sitebox-heading {
    margin-bottom: 20px;
    text-align: center; } }

@media (max-width: 767px) {
  .section-hrretail-questions .accordion-questions .questions-item__title h3 {
    font-size: 18px; }
  .section-hrretail-questions .accordion-questions .questions-item__content p {
    font-size: 14px; } }
