* {
  margin: 0;
  padding: 0; }

/* 1.2 - HTML5 Elements */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'sfuiText_regular',sans-serif;
  font-size: 16px;
  color: #2a363b;
  overflow-x: hidden;
  background: #fff;
  -webkit-font-smoothing: antialiased; }

a, a:hover {
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

a:hover {
  text-decoration: none; }

img, svg {
  max-width: 100%; }

ol, ul {
  margin: 0; }

table {
  width: 100%; }

.owl-carousel .owl-item img {
  width: auto !important;
  margin: auto; }

/*====== GENERAL ========================================*/
.box-warring {
  font-size: 14px;
  margin: 0px 0;
  max-width: 445px; }

.box-warring.margin-auto {
  margin-left: auto;
  margin-right: auto; }

.box-warring.color-white {
  color: #ffffff; }

.groupTitle-shipment {
  margin-bottom: 30px; }
  .groupTitle-shipment h2, .groupTitle-shipment .hTitle {
    margin: 0px 0 0px;
    line-height: 1.3;
    color: #EE4D2D;
    font-size: 36px;
    font-family: var(--hrv-font-family-bold); }
    .groupTitle-shipment h2.hTitle-white, .groupTitle-shipment h2.cl-white, .groupTitle-shipment .hTitle.hTitle-white, .groupTitle-shipment .hTitle.cl-white {
      color: #ffffff; }
  .groupTitle-shipment .sTitle {
    font-size: 24px;
    color: #2A363B;
    font-family: var(--hrv-font-family-regular);
    margin: 0; }
  .groupTitle-shipment .sTitle.cl-white {
    color: #ffffff; }
  @media (max-width: 1199px) and (min-width: 992px) {
    .groupTitle-shipment h2, .groupTitle-shipment .hTitle {
      font-size: 34px; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .groupTitle-shipment h2, .groupTitle-shipment .hTitle {
      font-size: 30px; }
    .groupTitle-shipment .sTitle {
      font-size: 22px; } }
  @media (max-width: 767px) {
    .groupTitle-shipment {
      margin-bottom: 25px; }
    .groupTitle-shipment h2, .groupTitle-shipment .hTitle {
      font-size: 24px; }
    .groupTitle-shipment .sTitle {
      font-size: 18px; } }

.sitebox-actions .btn-trial {
  position: relative;
  font-size: 18px;
  font-family: var(--hrv-font-family-bold), sans-serif;
  min-width: 270px;
  color: #ffffff;
  background: #EE4D2D;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  padding: 20px 35px 16px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  outline: none; }
  .sitebox-actions .btn-trial span {
    font-size: 14px;
    font-family: 'sfuiText_regular';
    text-transform: none; }
  .sitebox-actions .btn-trial:before {
    content: '';
    background-color: #3d60c3;
    position: absolute;
    top: 0;
    left: -2px;
    width: 0%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .sitebox-actions .btn-trial.disabled {
    pointer-events: none;
    opacity: 0.7; }
  .sitebox-actions .btn-trial--white {
    color: #EE4D2D;
    background: #ffffff;
    border: 2px #EE4D2D solid; }
  .sitebox-actions .btn-trial:hover, .sitebox-actions .btn-trial:focus {
    color: #ffffff;
    background: #315dd7;
    border-color: #315dd7; }
  .sitebox-actions .btn-trial--white:hover, .sitebox-actions .btn-trial--white:focus {
    color: #ffffff;
    background: #EE4D2D;
    border-color: #EE4D2D; }
  .sitebox-actions .btn-trial--start {
    background: #FF9D29; }
  .sitebox-actions .btn-trial--solution {
    color: #2962FF;
    background: #ffffff;
    box-shadow: none; }
    .sitebox-actions .btn-trial--solution:focus {
      color: #2962FF;
      background: #ffffff; }
  .sitebox-actions .btn-trial--sales {
    color: #2962FF;
    background: #ffffff; }

.sitebox-actions .txt-note {
  margin: 0;
  font-style: italic;
  font-size: 14px;
  margin: 0; }

.sitebox-actions .btn-disabled {
  background: #a2a2a2;
  border-color: #a2a2a2;
  pointer-events: none; }

@media (max-width: 991px) {
  .sitebox-actions .btn-trial {
    font-size: 16px;
    padding: 10px 15px 8px; } }

@media (max-width: 767px) {
  .sitebox-actions {
    text-align: center; }
    .sitebox-actions .btn-trial {
      font-size: 14px;
      padding: 10px 15px 8px; } }

[class^="spx-express-"] {
  padding: 70px 0; }

@media (max-width: 767px) {
  [class^="spx-express-"] {
    padding: 45px 0; } }

.spx-express-overview {
  position: relative;
  z-index: 1;
  padding: 0;
  background: linear-gradient(276deg, #3AF3FF 0%, #27ABF6 15%, #1567EE 98%);
  overflow: hidden; }
  .spx-express-overview .overview-detail h1 {
    color: #fff;
    font-size: 72px;
    margin: 0px;
    font-family: var(--hrv-font-family-bold);
    text-shadow: 0px 4px 14px rgba(4, 0, 194, 0.57); }
  .spx-express-overview .overview-detail .overview-logo {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px; }
    .spx-express-overview .overview-detail .overview-logo .item-logo {
      position: relative;
      max-width: 195px;
      flex: 1;
      background: #fff;
      border-radius: 10px;
      text-align: center;
      padding: 16px 10px; }
      .spx-express-overview .overview-detail .overview-logo .item-logo img {
        max-height: 38px;
        width: auto; }
      .spx-express-overview .overview-detail .overview-logo .item-logo:first-child:before {
        content: '';
        background-image: url(https://file.hstatic.net/1000001117/file/x_b672b509e6fb414fbae214c9e850c095.webp);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 34%;
        right: -28px; }
      .spx-express-overview .overview-detail .overview-logo .item-logo:first-child img {
        max-height: 36px; }
  .spx-express-overview .overview-detail .group-tag .item-tag {
    background: #FFBA1F;
    box-shadow: 0px 10.87026px 15.52894px rgba(0, 49, 175, 0.4);
    border-radius: 6.21px;
    border: 4.66px #F8D347 solid;
    color: #060607;
    font-size: 35px;
    font-family: var(--hrv-font-family-bold);
    padding: 17px 10px 9px;
    margin: 0 auto 10px;
    max-width: 390px; }
    .spx-express-overview .overview-detail .group-tag .item-tag:last-child {
      background: #173DEA;
      box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.17);
      border-radius: 6px;
      border: 2px #4BE9FF solid;
      color: #fff;
      font-size: 30px;
      max-width: 305px;
      margin: 15px auto 45px;
      text-transform: uppercase; }
      .spx-express-overview .overview-detail .group-tag .item-tag:last-child span {
        background: #275DED;
        border-radius: 6px;
        margin-left: 20px;
        padding: 13px 12px 6px; }
  .spx-express-overview .overview-image {
    position: relative; }
    .spx-express-overview .overview-image__inner {
      position: relative; }
  @media (min-width: 1200px) {
    .spx-express-overview .overview-detail {
      -webkit-align-self: center;
      align-self: center; }
    .spx-express-overview .overview-image {
      -webkit-align-self: flex-end;
      align-self: flex-end;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 1600px) {
    .spx-express-overview .overview-image .block-image {
      width: 129%;
      margin-left: -2%; } }
  @media (max-width: 1599px) and (min-width: 1200px) {
    .spx-express-overview .overview-detail h1 {
      font-size: 60px; }
    .spx-express-overview .overview-detail .group-tag .item-tag {
      font-size: 25px; }
      .spx-express-overview .overview-detail .group-tag .item-tag:last-child {
        font-size: 25px;
        margin: 15px auto 30px; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .spx-express-overview .overview-detail h1 {
      font-size: 40px; }
    .spx-express-overview .overview-detail .group-tag .item-tag {
      font-size: 22px;
      padding: 10px 10px 4px; }
      .spx-express-overview .overview-detail .group-tag .item-tag:last-child {
        font-size: 22px;
        margin: 10px auto 20px; }
    .spx-express-overview .overview-detail .overview-logo .item-logo {
      padding: 10px; } }
  @media (max-width: 991px) {
    .spx-express-overview {
      padding-top: 40px; }
      .spx-express-overview .overview-detail h1 {
        font-size: 40px; }
      .spx-express-overview .overview-detail .group-tag .item-tag {
        font-size: 18px;
        padding: 10px 10px 4px; }
        .spx-express-overview .overview-detail .group-tag .item-tag:last-child {
          font-size: 18px;
          margin: 10px auto 20px; }
      .spx-express-overview .overview-detail .overview-logo .item-logo {
        padding: 10px; }
      .spx-express-overview .overview-image {
        margin-top: 20px; } }
  @media (max-width: 480px) {
    .spx-express-overview .overview-detail h1 {
      font-size: 30px;
      margin-bottom: 15px; }
    .spx-express-overview .overview-detail .group-tag .item-tag {
      font-size: 16px;
      padding: 10px 10px 4px; }
      .spx-express-overview .overview-detail .group-tag .item-tag:last-child {
        font-size: 16px;
        margin: 10px auto 20px; }
    .spx-express-overview .overview-detail .overview-logo .item-logo img {
      max-height: 28px; }
    .spx-express-overview .overview-detail .overview-logo .item-logo:first-child img {
      max-height: 26px; } }

.spx-express-process .process-item {
  margin-bottom: 30px; }
  .spx-express-process .process-item__inner {
    text-align: center; }
  .spx-express-process .process-item__image {
    margin-bottom: 10px; }
    .spx-express-process .process-item__image .block-image {
      max-width: 110px;
      margin-left: auto;
      margin-right: auto; }
  .spx-express-process .process-item__detail h3 {
    margin: 0 0 5px;
    color: #0047BA;
    font-size: 22px;
    font-family: var(--hrv-font-family-medium); }
  .spx-express-process .process-item__detail p {
    margin: 0; }

@media (max-width: 1199px) and (min-width: 992px) {
  .spx-express-process .process-item__detail {
    font-size: 20px; } }

@media (max-width: 767px) {
  .spx-express-process .process-item:nth-child(odd) {
    padding-right: 7px; }
  .spx-express-process .process-item:nth-child(even) {
    padding-left: 7px; }
  .spx-express-process .process-item {
    margin-bottom: 20px; }
    .spx-express-process .process-item__image .block-image {
      max-width: 90px;
      margin-left: auto;
      margin-right: auto; }
    .spx-express-process .process-item__detail h3 {
      font-size: 18px; } }

.spx-express-feature {
  background: #F4F8FF; }
  .spx-express-feature .groupTitle-shipment h2 {
    color: #0047BA; }
  .spx-express-feature .feature-detail .box-item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 16px 16px 16px 85px;
    -ms-transition: all 450ms linear 0.1s;
    transition: all 450ms linear 0.1s;
    background: transparent;
    border-left: 3px solid transparent;
    margin-bottom: 5px; }
    .spx-express-feature .feature-detail .box-item .box-icon {
      position: absolute;
      top: 12px;
      bottom: 0;
      left: 16px;
      width: 54px;
      height: 54px; }
      .spx-express-feature .feature-detail .box-item .box-icon svg {
        width: 100%; }
    .spx-express-feature .feature-detail .box-item .box-title h3 {
      margin: 0;
      color: #0047BA;
      font-size: 22px;
      font-family: var(--hrv-font-family-medium);
      letter-spacing: -0.35px; }
    .spx-express-feature .feature-detail .box-item .box-desc {
      margin-top: 5px; }
    .spx-express-feature .feature-detail .box-item .box-desc p {
      margin: 0; }
    .spx-express-feature .feature-detail .box-item.is-active {
      background: #ffffff;
      -ms-transition: 0s;
      transition: 0s;
      border-left: 3px solid #FDC8AA;
      box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.06), 0px 8px 24px -4px rgba(24, 39, 75, 0.04); }
  .spx-express-feature .feature-picture .featureImages-carousel:not(.owl-loaded) {
    display: -ms-flexbox;
    display: flex;
    overflow: hidden; }
    .spx-express-feature .feature-picture .featureImages-carousel:not(.owl-loaded) .box-image {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
  .spx-express-feature .sitebox-actions {
    margin-top: 30px; }
  @media (min-width: 1200px) {
    .spx-express-feature {
      padding: 40px 0; }
    .spx-express-feature .feature-detail {
      padding-right: 60px; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .spx-express-feature .template-detail {
      padding-top: 00px; }
    .spx-express-feature .template-picture {
      -ms-align-self: center;
      align-self: center; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .spx-express-feature .template-detail .box-item .box-title:before {
      right: 12px; }
    .spx-express-feature .template-detail .box-item .box-desc--img {
      display: block;
      margin: 0; }
    .spx-express-feature .template-picture {
      display: none; } }
  @media (max-width: 767px) {
    .spx-express-feature .feature-detail .box-item {
      margin-top: 18px;
      padding: 12px 12px 12px 60px;
      background: #ffffff;
      border-left: 3px solid #FDC8AA;
      box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.06), 0px 8px 24px -4px rgba(24, 39, 75, 0.04); }
      .spx-express-feature .feature-detail .box-item .box-icon {
        top: 0px;
        left: 10px;
        width: 38px;
        height: 38px; }
      .spx-express-feature .feature-detail .box-item .box-title h3 {
        font-size: 18px; }
    .spx-express-feature .feature-picture {
      display: none !important; } }

.spx-express-promotion {
  padding: 0; }
  .spx-express-promotion .groupTitle-shipment {
    margin-bottom: 12px; }
  .spx-express-promotion .wrapper-promotion {
    padding: 65px 0 40px;
    background: #ed4f2e;
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .spx-express-promotion .wrapper-promotion:before {
      content: "";
      position: absolute;
      width: 250%;
      height: calc(100% + 10px);
      z-index: -1;
      bottom: -2px;
      background-image: url("https://file.hstatic.net/1000001117/file/bg-spx_6ae56f45b0be47d6871412fc3e8f730c.webp");
      background-position: bottom;
      background-repeat: repeat no-repeat;
      background-size: 40%;
      animation: fragment backwards 200s linear infinite; }
  .spx-express-promotion .sitebox-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px; }
    .spx-express-promotion .sitebox-actions .btn-trial {
      padding: 6px 24px 2px; }
  .spx-express-promotion .owl-carousel:not(.owl-loaded) {
    display: flex;
    overflow: hidden; }
  .spx-express-promotion .owl-carousel:not(.owl-loaded) .promotion-item {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%; }
  .spx-express-promotion .owl-carousel .owl-nav .owl-prev, .spx-express-promotion .owl-carousel .owl-nav .owl-next {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 26px;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    font-size: 0;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    top: 50%;
    margin-top: -23px;
    opacity: 0;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    border-radius: 0;
    text-indent: -9999px;
    outline: none;
    border: none; }
  .spx-express-promotion .owl-carousel .owl-nav .owl-prev {
    left: 30px;
    opacity: 1;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    transform: rotate(-45deg); }
  .spx-express-promotion .owl-carousel .owl-nav .owl-prev:hover {
    border-color: #ffffff;
    border-width: 2px;
    background: transparent; }
  .spx-express-promotion .owl-carousel .owl-nav .owl-next {
    opacity: 1;
    right: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    transform: rotate(-45deg); }
  .spx-express-promotion .owl-carousel .owl-nav .owl-next:hover {
    border-color: #ffffff;
    border-width: 2px;
    background: transparent; }
  .spx-express-promotion .owl-carousel .owl-nav .owl-next.disabled, .spx-express-promotion .owl-carousel .owl-nav .owl-prev.disabled {
    opacity: 0; }
  @media (max-width: 767px) {
    .spx-express-promotion .sitebox-actions {
      flex-flow: column-reverse; }
    .spx-express-promotion .wrapper-promotion {
      padding: 40px 0 0; } }

.spx-express-benefits .banner-benefits {
  background: #fff;
  box-shadow: 0px 0px 42px 8px #FFDBC2;
  border-radius: 16px;
  padding: 50px 0 30px; }
  .spx-express-benefits .banner-benefits .benefits-detail {
    position: relative;
    z-index: 1; }
    .spx-express-benefits .banner-benefits .benefits-detail:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 80px;
      z-index: -1;
      background-image: url(https://file.hstatic.net/1000001117/file/icon-benefits_line_060f00e5657841a5bfb912830568bb2b.webp);
      background-size: contain;
      background-repeat: no-repeat;
      width: 10px;
      height: 95%; }
  .spx-express-benefits .banner-benefits .item-benefits {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 8px 24px -4px rgba(24, 39, 75, 0.04);
    border-radius: 8px;
    border: 1px #F5F5F5 solid;
    max-width: 464px; }
    .spx-express-benefits .banner-benefits .item-benefits .icon-item {
      padding: 16px 27px 16px 18px;
      background: #E3F2FD;
      border-radius: 10px 0 0 10px;
      overflow: hidden;
      border-left: 8px #FF7D63 solid;
      flex: 0 0 110px; }
      .spx-express-benefits .banner-benefits .item-benefits .icon-item img {
        max-width: 64px;
        height: auto; }
    .spx-express-benefits .banner-benefits .item-benefits .desc-item {
      color: #0F146D;
      font-size: 20px;
      font-weight: 500;
      padding: 0 16px; }

.spx-express-benefits .sitebox-actions {
  margin: 30px 0; }

@media (min-width: 1200px) {
  .spx-express-benefits .benefits-detail {
    padding-left: 30px; }
    .spx-express-benefits .benefits-detail .item-benefits .desc-item {
      padding: 0 45px 0 20px; } }

@media (max-width: 1199px) and (min-width: 992px) {
  .spx-express-benefits .banner-benefits .benefits-detail:before {
    left: 66px; } }

@media (max-width: 991px) {
  .spx-express-benefits .banner-benefits .benefits-detail {
    margin-top: 30px;
    padding: 0 40px; }
    .spx-express-benefits .banner-benefits .benefits-detail:before {
      left: 95px; }
  .spx-express-benefits .banner-benefits .item-benefits {
    max-width: 100%; } }

@media (max-width: 480px) {
  .spx-express-benefits .banner-benefits .benefits-detail:before {
    left: 88px; }
  .spx-express-benefits .banner-benefits .item-benefits .icon-item {
    flex: 0 0 90px; }
    .spx-express-benefits .banner-benefits .item-benefits .icon-item img {
      max-width: 50px; }
  .spx-express-benefits .banner-benefits .item-benefits .desc-item {
    font-size: 16px; } }

.spx-express-branch .groupTitle-shipment {
  margin: 0; }
  .spx-express-branch .groupTitle-shipment h2 {
    color: #0047BA; }

.spx-express-branch .branch-content {
  position: relative;
  padding: 30px 0 220px; }
  .spx-express-branch .branch-content:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://file.hstatic.net/1000001117/file/branch_banner_e1cfdde7d7304db49b4cb1592f1d6125.webp);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1; }
  .spx-express-branch .branch-content .branch-list {
    padding: 24px 15px 16px;
    background: #fff;
    box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    border-radius: 8px;
    border: 1px #D9D9D9 solid; }
    .spx-express-branch .branch-content .branch-list .branch-item {
      flex: 1;
      text-align: center;
      border-right: 1px #D9D9D9 solid; }
      .spx-express-branch .branch-content .branch-list .branch-item .item-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px; }
        .spx-express-branch .branch-content .branch-list .branch-item .item-title img {
          max-height: 42px; }
        .spx-express-branch .branch-content .branch-list .branch-item .item-title span {
          color: #EE4D2D;
          font-size: 46px;
          font-family: var(--hrv-font-family-barlow);
          font-weight: 600;
          line-height: 46px; }
      .spx-express-branch .branch-content .branch-list .branch-item .item-desc {
        color: #2A363B;
        font-size: 26px;
        margin-top: 6px; }
      .spx-express-branch .branch-content .branch-list .branch-item:last-child {
        border-right: none; }

@media (max-width: 991px) {
  .spx-express-branch .branch-content {
    padding: 30px 0 100px; }
    .spx-express-branch .branch-content .branch-list .branch-item .item-title span {
      font-size: 30px; }
    .spx-express-branch .branch-content .branch-list .branch-item .item-desc {
      font-size: 18px; } }

@media (max-width: 767px) {
  .spx-express-branch .branch-content:before {
    background-size: cover;
    background-position: center; }
  .spx-express-branch .branch-content .branch-list {
    flex-flow: column;
    margin: 0; }
    .spx-express-branch .branch-content .branch-list .branch-item {
      margin-bottom: 25px;
      border-right: none;
      /*border-bottom: 1px #D9D9D9 solid;*/ } }

.spx-express-contact {
  background: #0047BA;
  padding: 50px 0; }
  .spx-express-contact .col-contact {
    color: #fff; }
    .spx-express-contact .col-contact a {
      color: #fff; }
    .spx-express-contact .col-contact .a-bd {
      border-bottom: 1px solid;
      cursor: pointer; }
    .spx-express-contact .col-contact h2 {
      color: #fff;
      font-size: 42px; }
    .spx-express-contact .col-contact .contact-title {
      font-size: 32px;
      font-family: var(--hrv-font-family-bold);
      margin-bottom: 20px; }
    .spx-express-contact .col-contact .list-contact .item-contact {
      margin-bottom: 8px; }
      .spx-express-contact .col-contact .list-contact .item-contact img {
        max-height: 30px; }
      .spx-express-contact .col-contact .list-contact .item-contact:last-child {
        display: flex;
        align-items: center;
        gap: 5px; }
  @media (min-width: 1200px) {
    .spx-express-contact .col-contact {
      padding-left: 40px; } }
  @media (max-width: 991px) {
    .spx-express-contact .col-contact {
      margin-bottom: 20px; }
      .spx-express-contact .col-contact h2 {
        font-size: 26px; }
      .spx-express-contact .col-contact .contact-title {
        font-size: 20px; } }
  @media (max-width: 767px) {
    .spx-express-contact .col-contact .groupTitle-shipment {
      margin-bottom: 0; }
    .spx-express-contact .col-contact .list-contact .item-contact {
      font-size: 14px; } }

/*============== PROMOTION SHIP ===============*/
/*animated owl-animated-in fxStickItIn  active*/
/*animated owl-animated-out fxStickItOut*/
@-webkit-keyframes fragment {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
    transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    -webkit-transform: scale(1.1) translateX(-25%) translateZ(0);
    transform: translateX(-25%) translateZ(0) scaleY(1); }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
    transform: translateX(-50%) translateZ(0) scaleY(1); } }

@keyframes fragment {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scale(1);
    transform: translateX(0) translateZ(0) scale(1); }
  50% {
    -webkit-transform: scale(1.1) translateX(-25%) translateZ(0);
    transform: translateX(-25%) translateZ(0) scale(1); }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateZ(0) scale(1); } }

@-webkit-keyframes slideOutToBottom {
  to {
    -webkit-transform: scale(0.8) translateY(100%);
    transform: scale(0.8) translateY(100%); } }

@keyframes slideOutToBottom {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@-webkit-keyframes rotateBottomSideIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) translateZ(0px) rotateX(-25deg);
    transform: scale(1) translateZ(0px) rotateX(-25deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0) rotateX(0deg);
    transform: scale(1) translateZ(0) rotateX(0deg); } }

@keyframes rotateBottomSideIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) translateZ(0px) rotateX(-25deg);
    transform: scale(1) translateZ(0px) rotateX(-25deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0) rotateX(0deg);
    transform: scale(1) translateZ(0) rotateX(0deg); } }

@media (min-width: 992px) {
  .fxStickIt .owl-stage {
    -webkit-perspective: 1600px;
    perspective: 1600px;
    -webkit-transform: none !important;
    transform: none !important;
    width: 100% !important;
    pointer-events: none;
    position: relative;
    height: 0;
    border: none;
    overflow: hidden;
    display: block;
    padding-top: 41.6666667%; }
  .fxStickIt .owl-item {
    opacity: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    opacity: 0;
    z-index: 10;
    pointer-events: auto; }
  .fxStickIt .owl-item.active {
    z-index: 20;
    opacity: 1; }
  .fxStickIt .owl-item.owl-animated-in {
    opacity: 0; }
  .fxStickIt .owl-item.fxStickItOut {
    opacity: 1;
    -webkit-animation: slideOutToBottom 0.7s;
    animation: slideOutToBottom 0.7s; }
  .fxStickIt .owl-item.fxStickItIn {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation: rotateBottomSideIn 0.8s 0.1s forwards ease-in;
    animation: rotateBottomSideIn 0.8s 0.1s forwards ease-in; } }

/*=================== MODAL ========================================================*/
/* MODAL SUCCESS  */
.modal.modalForm-success.fade.show {
  opacity: 1; }

.modal.modalForm-success.fade .modal-dialog {
  opacity: 0;
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.modal.modalForm-success.fade.show .modal-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.modal.modalForm-success {
  background: rgba(3, 17, 27, 0.7);
  padding: 0; }

.modalForm-success .modal-content {
  position: relative;
  border: 0;
  background-color: #0f29ff;
  background: -moz-linear-gradient(140deg, #36d1dc 0%, #0f29ff 65%);
  background: -webkit-linear-gradient(140deg, #36d1dc 0%, #0f29ff 65%);
  background: -ms-linear-gradient(140deg, #36d1dc 0%, #0f29ff 65%); }

.modalForm-success.modal-succes-haraads .modal-content {
  background-color: #ff6d00;
  background: -moz-linear-gradient(130deg, #fe994c 0%, #ff6d00 99%);
  background: -webkit-linear-gradient(130deg, #fe994c 0%, #ff6d00 99%);
  background: -ms-linear-gradient(130deg, #fe994c 0%, #ff6d00 99%); }

.modalForm-success .modal-content:before, .modalForm-success .modal-content:after {
  content: "";
  position: absolute;
  width: 35%;
  top: 0;
  bottom: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.modalForm-success .modal-content:after {
  right: 0;
  background-image: url(../../../../file.hstatic.net/1000001117/file/modal-succes-vector-right-min.png); }

.modalForm-success .modal-content:before {
  left: 0;
  background-image: url(../../../../file.hstatic.net/1000001117/file/modal-succes-vector-left-min.png); }

.modalForm-success .modal-content .modal-body {
  z-index: 2; }

.modal.modalForm-success .modal-body img {
  width: 200px; }

.modalForm-success .modal-body .modal-title {
  font-size: 30px;
  color: #fff;
  font-family: var(--hrv-font-family-bold);
  margin: 0 0 30px;
  text-transform: uppercase;
  padding-bottom: 10px;
  position: relative; }

.modalForm-success .modal-body .modal-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: 1px;
  background: #fff; }

.modalForm-success .modal-body p:not(.modal-title) {
  font-size: 18px;
  font-family: var(--hrv-font-family-regular);
  color: #fff;
  margin: 34px 0 0; }

.modalForm-success .hide_modal {
  padding: 10px 30px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .modalForm-success .modal-dialog {
    width: 600px; } }

@media (max-width: 767px) {
  .modalForm-success .modal-content:before,
  .modalForm-success .modal-content:after {
    width: 40%;
    background-size: auto; } }

/* MODAL Register  */
.modalForm-register.fade.show {
  opacity: 1; }

.modalForm-register .modal-content {
  background-color: #fff;
  border: 0;
  box-shadow: 0px 0px 40px 0px rgba(0, 172, 193, 0.16);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden; }

.modalForm-register .modal-heading {
  background: #ffffff;
  text-align: center;
  border: 0;
  padding: 15px 25px; }

.modalForm-register .modal-heading .modal-close {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 5;
  margin: 0;
  padding: 0;
  outline: none;
  margin-top: 0px;
  opacity: 1;
  float: initial;
  text-shadow: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center; }

.modalForm-register .modal-heading .modal-close svg {
  fill: #33475b;
  width: 26px;
  height: 32px;
  opacity: 0.7;
  -webkit-transition: -webkit-transform .25s, opacity .25s;
  -moz-transition: -moz-transform .25s, opacity .25s;
  transition: transform .25s, opacity .25s; }

.modalForm-register .modal-heading .modal-close:hover svg {
  opacity: 0.9;
  -webkit-transform: scale(1.12) rotate(270deg);
  -moz-transform: scale(1.12) rotate(270deg);
  transform: scale(1.12) rotate(270deg); }

.modalForm-register .modal-heading .modal-title {
  padding: 10px 25px 0;
  line-height: 1.3;
  color: #0047ba;
  font-size: 32px;
  margin: 0px auto 5px;
  font-family: var(--hrv-font-family-bold); }

.modalForm-register .modal-heading .modal-subtitle {
  color: #2a363b;
  font-size: 20px;
  position: relative;
  margin: 0 auto;
  font-family: var(--hrv-font-family-regular); }

.modalForm-register .modal-bodyform {
  padding: 15px 20px 10px; }

/* Modal body form  */
.field-group {
  margin-bottom: 20px; }

.field-group .field-messages {
  font-size: 13px;
  margin: 5px 0 0;
  padding: 0 20px;
  color: #bababa; }

.field-group .field-label {
  font-size: 14px;
  color: #2a363b;
  font-family: 'sfuiText_semibold';
  display: block;
  font-weight: initial;
  padding: 0;
  margin: 0 0 5px; }

.field-group .field-label b {
  color: #ff0000;
  font-weight: initial;
  font-family: initial;
  font-size: 11px;
  display: inline-block;
  vertical-align: middle; }

.field-group .field-note {
  font-weight: initial;
  font-family: 'sfuiText_regular'; }

.field-group .field-label.red {
  color: #ff0000; }

.field-input-wrapper {
  position: relative; }

.field-input-wrapper .field-placeholder {
  font-size: 12px;
  color: #3d5067;
  font-family: 'sfuiText_regular';
  display: block;
  font-weight: initial;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 20px;
  z-index: 1;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-transition-property: opacity, transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms; }

.field-input-wrapper .field-input,
.field-input-wrapper .field-select,
.field-input-wrapper .field-textarea {
  font-size: 14px;
  color: #1976d2;
  background-color: #f5f8fa;
  border: 1px solid #cbd6e2;
  display: block;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: padding 150ms;
  -moz-transition: padding 150ms;
  transition: padding 150ms; }

.field-group .field-input-wrapper .field-input[type=number]::-webkit-outer-spin-button,
.field-group .field-input-wrapper .field-input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.field-group .field-input-wrapper .field-input::-webkit-input-placeholder {
  color: #3d5067; }

.field-group .field-input-wrapper .field-input::-moz-placeholder {
  color: #3d5067; }

.field-group .field-input-wrapper .field-input::-ms-input-placeholder {
  color: #3d5067; }

/* textarea */
.field-input-wrapper .field-textarea {
  width: 100%;
  resize: none; }

/* select */
.field-input-wrapper .field-select-dropdown {
  position: relative; }

.field-input-wrapper .field-select-dropdown:after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  right: 18px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #bababa transparent transparent transparent; }

.field-input-wrapper .field-select-dropdown .field-select {
  padding-right: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.field-input-wrapper .field-select-dropdown .field-select option,
.field-input-wrapper .field-select-dropdown .field-select:invalid {
  color: #3d5067;
  font-size: 15px; }

.field-input-wrapper .field-select-dropdown .field-select option[value="null"],
.field-input-wrapper .field-select-dropdown .field-select option[value=""] {
  color: #bababa; }

/* checkbox- radio */
.listChoice-option .checkbox-primary, .listChoice-option .radio-primary {
  position: relative;
  margin: 0 0 8px;
  padding: 0; }

.listChoice-option .radio-primary input[type='radio'] + label,
.listChoice-option .checkbox-primary input[type='checkbox'] + label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  color: #33475b;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 0; }

.listChoice-option .radio-primary input[type='radio'],
.listChoice-option .checkbox-primary input[type='checkbox'] {
  position: absolute;
  top: 4px;
  left: 0;
  height: 18px;
  width: 18px;
  color: #fff;
  background: #f5f8fa;
  border: 2px solid #cbd6e2;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  margin: 0;
  transition: all 0.15s ease-out 0s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.listChoice-option .radio-primary input[type='radio']:before,
.listChoice-option .checkbox-primary input[type='checkbox']:before {
  content: "\2713";
  font-family: helvetica;
  font-size: 12px;
  height: 14px;
  width: 14px;
  line-height: 14px;
  opacity: 0;
  position: absolute;
  display: inline-block;
  text-align: center; }

.listChoice-option .radio-primary .input-radius[type='radio'],
.listChoice-option .radio-primary .input-radius[type='radio']:after {
  border-radius: 50%; }

.listChoice-option .radio-primary input[type='radio']:hover:before,
.listChoice-option .checkbox-primary input[type='checkbox']:hover:before {
  opacity: 1;
  color: #00b0ff; }

.listChoice-option .radio-primary input[type='radio']:hover,
.listChoice-option .checkbox-primary input[type='checkbox']:hover {
  background: #fff; }

.listChoice-option .radio-primary input[type='radio']:checked,
.listChoice-option .checkbox-primary input[type='checkbox']:checked {
  background: #00b0ff;
  border-color: #00b0ff; }

.listChoice-option .radio-primary input[type='radio']:checked:after,
.listChoice-option .checkbox-primary input[type='checkbox']:checked:after {
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  background: #00b0ff;
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s; }

.listChoice-option .radio-primary input[type='radio']:checked:before,
.listChoice-option .checkbox-primary input[type='checkbox']:checked:before {
  opacity: 1;
  color: #ffffff; }

@keyframes click-wave {
  0% {
    height: 15px;
    width: 15px;
    opacity: 0.35;
    position: relative; }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    opacity: 0; } }

.listChoice-flexbox-option {
  margin: 0 -8px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.listChoice-flexbox-option .radio-primary {
  position: relative;
  -webkit-flex: 1 1;
  flex: 1 1;
  max-width: calc(100%/3 - 16px);
  margin: 0px 8px; }

.listChoice-flexbox-option .radio-primary input[type='radio'] + label {
  cursor: pointer;
  color: #3d5067;
  font-size: 14px;
  background-color: #f5f8fa;
  border: 1px solid #cbd6e2;
  padding: 8px 8px;
  border-radius: 4px;
  display: block;
  width: 100%;
  text-align: center; }

.listChoice-flexbox-option .radio-primary input.option-input[type='radio']:checked + label {
  background: #00b0ff;
  border-color: #00b0ff;
  color: #fff; }

.listChoice-flexbox-option .radio-primary input.option-input[type='radio'] {
  position: absolute;
  top: 8px;
  left: 12px;
  height: 18px;
  visibility: hidden; }

.listChoice-flexbox-option-2 .radio-primary {
  flex: 0 0 33%; }

.field-group .listChoice-option .field-check {
  margin-top: 7px;
  margin-bottom: 2px; }

.listChoice-option .field-check .field-check-option {
  margin: 0;
  padding: 0;
  position: relative; }

.listChoice-option .field-check .field-check-option input + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  margin: 0;
  letter-spacing: -0.2px; }

.listChoice-option .field-check .field-check-option input {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  line-height: 14px;
  color: #fff;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  margin: 0;
  transition: all 0.15s ease-out 0s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.listChoice-option .field-check .field-check-option input:before {
  content: '\2714\fe0e';
  font-size: 12px;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  text-align: center; }

.listChoice-option .field-check .field-check-option input.input-radius,
.listChoice-option .field-check .field-check-option input.input-radius:after {
  border-radius: 50%; }

.listChoice-option .field-check .field-check-option input:hover {
  background: #fff; }

.listChoice-option .field-check .field-check-option input:hover:before {
  opacity: 1;
  color: #0047ba; }

.listChoice-option .field-check .field-check-option input:checked {
  background: #0047ba;
  border-color: #0047ba; }

.listChoice-option .field-check .field-check-option input:checked:after {
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  background: #00b0ff;
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s; }

.listChoice-option .field-check .field-check-option input:checked:before {
  opacity: 1;
  color: #ffffff; }

.listChoice-option.listChoice-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.listChoice-option.listChoice-group .field-check .field-check-option input[type='radio'] {
  z-index: 1;
  left: 10px;
  top: 12px; }

.listChoice-option.listChoice-group .field-check .field-check-option input[type='radio'] + label {
  display: block;
  padding: 8px 8px 8px 45px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px; }

@keyframes click-wave {
  0% {
    height: 15px;
    width: 15px;
    opacity: 0.35;
    position: relative; }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    opacity: 0; } }

.fieldset .listChoice-flexbox {
  margin: 0 -6px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.checkbox.checkbox-primary.input-text {
  color: #6f6c90;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  flex: 0 0 64%; }
  .checkbox.checkbox-primary.input-text input, .checkbox.checkbox-primary.input-text textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    color: #6f6c90;
    width: 100%;
    padding-left: 15px; }
  .checkbox.checkbox-primary.input-text textarea {
    height: 24px; }

/* js-active */
.js-is-field.field-input-wrapper .field-placeholder + .field-input {
  padding-top: 18px;
  padding-bottom: 6px; }

.js-is-field.field-input-wrapper .field-placeholder {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.field-group.field-group-error .field-input-wrapper .field-label {
  color: #ff0000; }

/* button */
.field-group-button .btn-submit-form {
  position: relative;
  outline: none;
  overflow: hidden;
  font-size: 18px;
  font-family: 'sfuiText_bold', sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  min-width: 50%;
  color: #ffffff;
  background: #ff9800;
  border: 0;
  padding: 12px 35px;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.field-group-button .btn-submit-form:before {
  content: "";
  background: #f4c918;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.field-group-button .btn-submit-form:hover,
.field-group-button .btn-submit-form:focus {
  outline: none; }

.field-group-button .btn-submit-form:hover:before,
.field-group-button .btn-submit-form:focus:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

@media (min-width: 992px) {
  .modalForm-register .modal-dialog {
    max-width: 800px; }
  .field-group.pd-left {
    padding-left: 7px; }
  .field-group.pd-right {
    padding-right: 7px; } }

@media (max-width: 991px) {
  .modalForm-register .modal-header.modal-heading {
    padding: 40px 15px 20px; }
  .modalForm-register .modal-heading .modal-title {
    font-size: 24px; }
  .modalForm-register .modal-heading .modal-subtitle {
    font-size: 14px; }
  .modalForm-register .modal-body {
    padding: 15px 15px; }
  .field-input-wrapper .field-input,
  .field-input-wrapper .field-select {
    padding-left: 15px;
    padding-right: 15px; }
  .field-input-wrapper .field-placeholder {
    left: 15px; }
  .field-input-wrapper .field-input, .field-input-wrapper .field-select {
    font-size: 14px; }
  .listChoice-flexbox-option .radio-primary {
    max-width: calc(100%/2 - 8px);
    margin: 0px 4px; }
  #radioChoice-two .radio-primary,
  #radioChoice-one .radio-primary {
    -webkit-flex: 0 0 calc(100% - 16px);
    flex: 0 0 calc(100% - 16px);
    max-width: calc(100% - 16px);
    margin: 0 8px 8px; }
  .field-group-button .btn-submit-form {
    width: 100%; }
  .checkbox.checkbox-primary.input-text {
    flex: 0 0 90%; } }

/*===== POPUP PROMOTION ========================*/
.popup-promotion.fade .modal-dialog {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all .32s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

.popup-promotion.fade.show .modal-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.popup-promotion .modal-dialog {
  max-width: 500px; }

.popup-promotion .modal-body {
  padding: 0; }

.popup-promotion .modal-content {
  border: 0;
  background: transparent; }

.popup-promotion .close-popup {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 2;
  border-radius: 50%;
  opacity: 1;
  text-align: center;
  outline: none; }

.popup-promotion .close-popup svg {
  display: block;
  margin: auto;
  height: 100%;
  width: 12px;
  text-align: center;
  fill: #f3f3f3; }

.popup-promotion .close-popup:hover {
  background-color: black; }

.popup-promotion .close-popup:hover svg {
  fill: #fff; }

/* RICH MEDIA */
@-webkit-keyframes popuprich {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

@keyframes popuprich {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

.popup-richmedia {
  position: fixed;
  width: 250px;
  height: auto;
  bottom: 0;
  z-index: 50;
  display: none; }

.popup-richmedia .rich-banner {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  display: table;
  max-width: 100%;
  z-index: 100;
  animation: popuprich .5s;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.popup-richmedia .rich-img {
  display: inline-block;
  margin: auto;
  max-width: 100%;
  height: auto; }

.popup-richmedia .rich-close {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -1px;
  right: -1px;
  cursor: pointer;
  z-index: 9999;
  background: #ffffff;
  border-radius: 50%; }

.popup-richmedia .rich-close svg {
  fill: #4f5456;
  display: block; }

.popup-richmedia .click-here {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background-color: transparent;
  z-index: 9999; }

@media (max-width: 767px) {
  .popup-richmedia .rich-banner {
    bottom: -300px; }
  .mainFooter-mediarich .footer-hrv-bottom {
    padding-bottom: 45px; } }

#form-spx-express-banner {
  overflow-y: scroll;
  z-index: 99999; }
  #form-spx-express-banner::-webkit-scrollbar {
    width: 0; }
  #form-spx-express-banner .modal-dialog {
    max-width: 600px; }
  #form-spx-express-banner .modal-heading .modal-title {
    font-size: 28px; }
