/*====== page.ship-features ===========================================*/
@-webkit-keyframes marginLeft {
  0% {
    opacity: 0; }
  10% {
    right: 57px;
    opacity: 1; }
  100% {
    right: -5px;
    opacity: 0; } }

@keyframes marginLeft {
  0% {
    opacity: 0; }
  10% {
    right: 5px;
    opacity: 1; }
  100% {
    right: -5px;
    opacity: 0; } }

.img-shadown {
  box-shadow: 0px 0px 68px 0px rgba(206, 206, 206, 0.3); }

a.link-more {
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: #1082f2;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid  #1082f2;
  padding-right: 20px;
  line-height: 1.1; }
  a.link-more svg {
    fill: #1082f2;
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 5px;
    margin: auto;
    display: inline-block;
    width: 6px;
    height: 15px; }
  a.link-more:hover svg {
    -webkit-animation-name: marginLeft;
    animation-name: marginLeft;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.shipping-features-headline {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 100px 0;
  background: #0091ea;
  text-align: center; }
  .shipping-features-headline .blockTitle-page h1 {
    color: #fff;
    font-size: 42px;
    margin: 15px 0;
    font-family: var(--hrv-font-family-bold); }
  .shipping-features-headline .blockTitle-page--insert {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: -45%;
    text-align: center;
    height: 100%; }
  @media (max-width: 767px) {
    .shipping-features-headline {
      padding: 60px 0; }
    .shipping-features-headline .blockTitle-page h1 {
      font-size: 28px; }
    .shipping-features-headline .blockTitle-page--insert {
      top: 0;
      bottom: 0; }
      .shipping-features-headline .blockTitle-page--insert img {
        height: 100%;
        width: 100%;
        object-fit: cover; } }

.shipping-features-content {
  padding: 60px 0;
  position: relative;
  overflow: hidden; }
  .shipping-features-content .menuScroll-link {
    margin: 0;
    counter-reset: dots;
    border-left: 1px solid #b0bec5; }
    .shipping-features-content .menuScroll-link li a:before {
      counter-increment: dots;
      content: counter(dots) " -";
      padding-right: 8px; }
    .shipping-features-content .menuScroll-link li a {
      color: #596a7d;
      font-size: 18px;
      font-family: var(--hrv-font-family-regular);
      padding: 8px 15px;
      display: block;
      border-left: 3px solid transparent;
      margin-left: -1.5px;
      text-decoration: none;
      -webkit-transition: all .4s ease-out;
      -moz-transition: all .4s ease-out;
      transition: all .4 ease-out; }
    .shipping-features-content .menuScroll-link li a:hover {
      background: #e5f7ff;
      border-left: 3px solid #1976d2; }
    .shipping-features-content .menuScroll-link li.active a {
      background: #e5f7ff;
      font-family: var(--hrv-font-family-bold);
      border-left: 3px solid #1976d2; }
  .shipping-features-content .section-item {
    margin-bottom: 70px; }
    .shipping-features-content .section-item .groupTitle-feature {
      margin: 10px 0 25px; }
      .shipping-features-content .section-item .groupTitle-feature h2 {
        color: #1976d2;
        font-size: 30px;
        margin: 0;
        font-family: var(--hrv-font-family-bold); }
      .shipping-features-content .section-item .groupTitle-feature .subtitle {
        font-size: 18px;
        color: #596a7d;
        margin: 0;
        font-family: var(--hrv-font-family-regular); }
    .shipping-features-content .section-item .groupContent-feature .colmnItem-feature {
      margin-bottom: 40px;
      position: relative;
      z-index: 1; }
      .shipping-features-content .section-item .groupContent-feature .colmnItem-feature h3 {
        color: #3d5067;
        font-size: 22px;
        margin: 15px 0 15px;
        font-family: var(--hrv-font-family-medium); }
      .shipping-features-content .section-item .groupContent-feature .colmnItem-feature p {
        margin: 0 0 15px; }
      .shipping-features-content .section-item .groupContent-feature .colmnItem-feature .txt-color-blue {
        color: #1082f2;
        font-family: 'SFUIText-Bold'; }
      .shipping-features-content .section-item .groupContent-feature .colmnItem-feature ul {
        margin: 0px; }
      .shipping-features-content .section-item .groupContent-feature .colmnItem-feature ul.list-bullet li {
        position: relative;
        padding-left: 20px; }
      .shipping-features-content .section-item .groupContent-feature .colmnItem-feature ul.list-bullet li + li {
        margin-top: 10px; }
      .shipping-features-content .section-item .groupContent-feature .colmnItem-feature ul.list-bullet li:before {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        top: 10px;
        left: 3px;
        background-color: #0091ea;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }
    .shipping-features-content .section-item .groupContent-feature .colmnItem-image {
      position: relative; }
  .shipping-features-content .wrapper-features-container {
    margin: 0 -15px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
    .shipping-features-content .wrapper-features-container.js-sticky-fixed .aside-groupNav {
      position: fixed;
      top: 80px; }
    .shipping-features-content .wrapper-features-container.js-sticky-fixed.js-sticky-init .aside-groupNav {
      position: absolute;
      bottom: 0;
      top: auto; }
  @media (max-width: 1199px) and (min-width: 992px) {
    .shipping-features-content .menuScroll-link li a {
      font-size: 16px; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .shipping-features-content .content-section-navmenu {
      display: none; }
    .shipping-features-content .section-item .groupTitle-feature h2 {
      font-size: 27px; }
    .shipping-features-content .section-item .groupContent-feature .colmnItem-feature h3 {
      font-size: 20px; }
    .shipping-features-content .section-item .groupContent-feature .colmnItem-action {
      margin-bottom: 20px; }
    .shipping-features-content .wrapper-features-container.js-sticky-fixed .aside-groupNav {
      padding-top: 30px; } }
  @media (max-width: 767px) {
    .shipping-features-content {
      padding: 45px 0;
      overflow: hidden; }
    .shipping-features-content .content-section-navmenu {
      display: none; }
    .shipping-features-content .section-item {
      margin-bottom: 15px; }
      .shipping-features-content .section-item .groupTitle-feature {
        border-bottom: solid 2px transparent;
        margin: 0;
        padding: 12px 35px 12px 0; }
        .shipping-features-content .section-item .groupTitle-feature h2 {
          color: #2a363b;
          position: relative;
          font-size: 22px; }
          .shipping-features-content .section-item .groupTitle-feature h2:after {
            content: "";
            position: absolute;
            top: 4px;
            right: -30px;
            width: 18px;
            height: 18px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M6.43,2.26A.88.88,0,1,0,5.19,3.49L9,7.25,5.19,11a.88.88,0,1,0,1.24,1.24l4.38-4.38a.87.87,0,0,0,0-1.24Z'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat;
            -webkit-transform: rotate(0);
            transform: rotate(0);
            transition: -webkit-transform 0.15s ease-in-out; }
      .shipping-features-content .section-item .groupContent-feature {
        display: none;
        padding: 15px 0 50px; }
        .shipping-features-content .section-item .groupContent-feature .colmnItem-feature h3 {
          font-size: 20px; }
        .shipping-features-content .section-item .groupContent-feature .colmnItem-image {
          padding: 0 20px; }
        .shipping-features-content .section-item .groupContent-feature .colmnItem-action {
          margin-top: 20px; }
      .shipping-features-content .section-item.opened-pannel .groupTitle-feature {
        border-bottom-color: #dfe3e8; }
        .shipping-features-content .section-item.opened-pannel .groupTitle-feature h2 {
          color: #1976d2; }
        .shipping-features-content .section-item.opened-pannel .groupTitle-feature h2:after {
          -moz-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); } }

/* RICH MEDIA */
@-webkit-keyframes popuprich {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

@keyframes popuprich {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

.popup-richmedia {
  position: fixed;
  width: 250px;
  height: auto;
  bottom: 0;
  z-index: 50;
  display: none; }

.popup-richmedia .rich-banner {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  display: table;
  max-width: 100%;
  z-index: 100;
  animation: popuprich .5s;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.popup-richmedia .rich-img {
  display: inline-block;
  margin: auto;
  max-width: 100%;
  height: auto; }

.popup-richmedia .rich-close {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -1px;
  right: -1px;
  cursor: pointer;
  z-index: 9999;
  background: #ffffff;
  border-radius: 50%; }

.popup-richmedia .rich-close svg {
  fill: #4f5456;
  display: block; }

.popup-richmedia .click-here {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background-color: transparent;
  z-index: 9999; }

@media (max-width: 767px) {
  .popup-richmedia .rich-banner {
    bottom: -330px; }
  .mainFooter-mediarich .footer-hrv-bottom {
    padding-bottom: 45px; } }
