* {
  margin: 0;
  padding: 0; }

/* 1.2 - HTML5 Elements */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  scroll-behavior: smooth; }

html {
  /*-webkit-overflow-scrolling: touch;*/
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: var(--hrv-font-family-regular);
  font-size: 16px;
  color: #3D3D3D;
  overflow-x: hidden;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3; }

a, a:hover {
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

a:hover {
  text-decoration: none; }

img, svg {
  max-width: 100%; }

ol, ul {
  margin: 0; }

.hrv-btnv2-chatform {
  cursor: pointer; }

.hrplus-svg-1 {
  fill: #3f5066; }

.hrplus-svg-2 {
  fill: #005699; }

.disable-fb.hrv-btnv2-chatform {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  pointer-events: none;
  opacity: 0.85; }

.fb-plugin-chat-ismobile {
  bottom: 25px !important; }

.opacity-0 {
  opacity: 0; }
  .opacity-0 del {
    font-size: 21px !important; }

@font-face {
  font-family: "FontAwesome";
  src: url(fontawesome-webfont00c9.woff2?v=16800) format("woff"); }

.cl-white {
  color: #fff !important; }

.hidden {
  display: none !important; }

.sitebox-heading {
  margin-bottom: 30px;
  color: #E7E7E7; }
  .sitebox-heading h2, .sitebox-heading h3 {
    font-size: 48px;
    font-family: var(--hrv-font-family-bold);
    margin: 0 0 8px; }
  .sitebox-heading .subtitle {
    font-size: 36px;
    font-family: var(--hrv-font-family-medium); }
  @media (max-width: 1199px) and (min-width: 992px) {
    .sitebox-heading h2 {
      font-size: 28px; }
    .sitebox-heading h3 {
      font-size: 24px; } }
  @media (max-width: 991px) {
    .sitebox-heading h2 {
      font-size: 26px; }
    .sitebox-heading h3 {
      font-size: 20px;
      line-height: 1.5; }
    .sitebox-heading .subtitle {
      font-size: 18px; } }
  @media (max-width: 767px) {
    .sitebox-heading {
      margin-bottom: 20px; }
    .sitebox-heading h2 {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 0; }
    .sitebox-heading h3 {
      font-size: 20px; }
    .sitebox-heading .subtitle {
      font-size: 16px;
      line-height: 24px; } }

.sitebox-actions .btn-trial {
  position: relative;
  font-size: 16px;
  font-family: var(--hrv-font-family-bold), sans-serif;
  color: #003407;
  background: #92FE9D;
  border: 1px solid #92FE9D;
  padding: 14px 24px 8px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);*/ }
  .sitebox-actions .btn-trial:before {
    content: '';
    background-color: #0b7017;
    position: absolute;
    top: 0;
    left: -2px;
    width: 0%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .sitebox-actions .btn-trial.disabled {
    pointer-events: none;
    opacity: 0.7; }
  .sitebox-actions .btn-trial--white {
    color: #0047BA;
    background: #ffffff; }
  .sitebox-actions .btn-trial--blue {
    color: #fff;
    background: #001AFF;
    border-color: #001AFF; }
  .sitebox-actions .btn-trial:hover, .sitebox-actions .btn-trial:focus {
    background: #35f349;
    border-color: #35f349; }
  .sitebox-actions .btn-trial--white:hover, .sitebox-actions .btn-trial--white:focus {
    color: #ffffff;
    background: #0047BA;
    border-color: #0047BA; }
  .sitebox-actions .btn-trial--start {
    background: #FF9D29; }
  .sitebox-actions .btn-trial--solution {
    color: #2962FF;
    background: #ffffff;
    box-shadow: none; }
    .sitebox-actions .btn-trial--solution:focus {
      color: #2962FF;
      background: #ffffff; }
  .sitebox-actions .btn-trial--sales {
    color: #2962FF;
    background: #ffffff; }

.sitebox-actions .txt-note {
  margin: 0;
  font-style: italic;
  font-size: 14px;
  margin: 0; }

.sitebox-actions .btn-disabled {
  /*background: #a2a2a2;
		border-color: #a2a2a2;*/
  pointer-events: none; }

@media (max-width: 991px) {
  .sitebox-actions .btn-trial {
    font-size: 16px;
    padding: 10px 15px 8px; } }

@media (max-width: 767px) {
  .sitebox-actions {
    text-align: center; }
    .sitebox-actions .btn-trial {
      font-size: 14px; } }

.sitebox-wrap {
  margin-bottom: 15px; }
  .sitebox-wrap .group-txtlist li {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px; }
    .sitebox-wrap .group-txtlist li:before {
      content: "";
      background-image: url(https://file.hstatic.net/1000001117/file/check.webp);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 3px;
      left: 0;
      width: 14px;
      height: 14px; }
  @media (max-width: 767px) {
    .sitebox-wrap {
      margin-bottom: 0; }
      .sitebox-wrap .group-txtlist li {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 5px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

@media (min-width: 1366px) {
  .container {
    max-width: 1170px; } }

[class^="section-lotte-"] {
  padding: 80px 0;
  /*overflow-x: hidden;*/ }

@media (max-width: 767px) {
  [class^="section-lotte-"] {
    padding: 40px 0; } }

.section-lotte-overview {
  padding: 0;
  /*@media(min-width: 992px){
		.overview-content{
			&:before, &:after{
				content: '';
				position: absolute;
				top: 0;
				left: calc(100%/2 + 100px);
			}
			&:before {
				width: 50%;
				height: 100%;
				background-image: linear-gradient(to right, rgba(146, 254, 157, 0), rgba(146, 254, 157, 0.1), rgba(146, 254, 157, 0.7), rgba(146, 254, 157, 0.9), #92FE9D);
				z-index: 1;
			}
			&:after{
				left: calc(100% / 2 + 300px);
				width: 35%;
				height: 140%;
				background: radial-gradient(50% 50% at 50% 50%, #92FE9D 0%, rgba(146, 254, 157, 0.00) 100%);
				z-index: 0;
			}
		}
	}*/ }
  .section-lotte-overview .overview-logo {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 45px;
    padding: 18px 20px 9px;
    background: #fff; }
    .section-lotte-overview .overview-logo .logo-item img {
      max-height: 32px; }
  .section-lotte-overview .overview-content {
    background: #080D13;
    color: #E7E7E7;
    position: relative; }
    .section-lotte-overview .overview-content .content-detail .title {
      font-family: var(--hrv-font-family-bold);
      font-size: 48px;
      margin-bottom: 15px; }
    .section-lotte-overview .overview-content .content-detail .sub-title {
      font-family: var(--hrv-font-family-medium);
      font-size: 36px;
      margin-bottom: 25px; }
  @media (min-width: 1200px) {
    .section-lotte-overview {
      overflow: hidden; }
      .section-lotte-overview .overview-content .content-banner .sitebox-image {
        width: 126%;
        margin-left: 2%;
        max-width: 700px;
        position: relative;
        z-index: 2; } }
  @media (min-width: 1441px) {
    .section-lotte-overview .overview-content:before, .section-lotte-overview .overview-content:after {
      content: '';
      position: absolute;
      top: 0;
      left: calc(100%/2 + 100px); }
    .section-lotte-overview .overview-content:before {
      width: 50%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(146, 254, 157, 0), rgba(146, 254, 157, 0.1), rgba(146, 254, 157, 0.7), rgba(146, 254, 157, 0.9), #92FE9D);
      z-index: 1; }
    .section-lotte-overview .overview-content:after {
      left: calc(100% / 2 + 300px);
      width: 35%;
      height: 140%;
      background: radial-gradient(50% 50% at 50% 50%, #92FE9D 0%, rgba(146, 254, 157, 0) 100%);
      z-index: 0; } }
  @media (max-width: 991px) {
    .section-lotte-overview .overview-content {
      padding-top: 40px;
      text-align: center; }
      .section-lotte-overview .overview-content .content-detail {
        margin-bottom: 20px; }
      .section-lotte-overview .overview-content .sitebox-wrap {
        display: flex;
        justify-content: center;
        text-align: left;
        margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .section-lotte-overview .overview-content .content-detail .title {
      font-size: 32px; }
    .section-lotte-overview .overview-content .content-detail .sub-title {
      font-size: 22px;
      margin-bottom: 15px; }
    .section-lotte-overview .overview-content .content-banner {
      padding: 0; } }

.section-lotte-zone-2 {
  background: #12151E;
  position: relative; }
  .section-lotte-zone-2:before {
    content: '';
    position: absolute;
    bottom: -42%;
    left: 0;
    width: 405px;
    height: 100%;
    background-image: url(https://file.hstatic.net/1000001117/file/before-1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; }
  .section-lotte-zone-2 .list-item {
    gap: 20px; }
    .section-lotte-zone-2 .list-item .item {
      background: #171717;
      color: #E7E7E7;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      border-bottom: 10px solid #001aff;
      transition: all 0.1s; }
      .section-lotte-zone-2 .list-item .item:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url(https://file.hstatic.net/1000001117/file/before-item.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top; }
      .section-lotte-zone-2 .list-item .item .icon {
        text-align: right;
        transition: all 0.1s; }
        .section-lotte-zone-2 .list-item .item .icon img {
          max-width: 140px; }
      .section-lotte-zone-2 .list-item .item .detail {
        font-size: 24px;
        padding: 0 24px 24px;
        position: relative;
        z-index: 2; }
        .section-lotte-zone-2 .list-item .item .detail .title {
          font-size: 24px;
          font-family: var(--hrv-font-family-bold); }
        .section-lotte-zone-2 .list-item .item .detail .desc {
          margin: 0; }
  .section-lotte-zone-2 .note {
    position: relative;
    z-index: 2;
    font-size: 26px;
    /*font-family: var(--hrv-font-family-bold);*/
    color: #E7E7E7;
    margin: 40px 0; }
    .section-lotte-zone-2 .note .note-color {
      color: #92FE9D; }
  @media (min-width: 768px) {
    .section-lotte-zone-2 .sitebox-actions .btn-trial {
      min-width: 450px; } }
  @media (min-width: 992px) {
    .section-lotte-zone-2 .sitebox-heading {
      margin-bottom: 60px; }
    .section-lotte-zone-2 .list-item .item:nth-child(1), .section-lotte-zone-2 .list-item .item:nth-child(4) {
      -ms-flex: 0 0 calc(40% - 10px);
      flex: 0 0 calc(40% - 10px);
      max-width: calc(40% - 10px); }
    .section-lotte-zone-2 .list-item .item:nth-child(2), .section-lotte-zone-2 .list-item .item:nth-child(3) {
      -ms-flex: 0 0 calc(60% - 10px);
      flex: 0 0 calc(60% - 10px);
      max-width: calc(60% - 10px); }
    .section-lotte-zone-2 .list-item .item:hover {
      background: linear-gradient(237deg, #001AFF 2.85%, #001099 97.15%);
      border-color: #92FE9D; }
      .section-lotte-zone-2 .list-item .item:hover .icon {
        text-align: left; }
        .section-lotte-zone-2 .list-item .item:hover .icon img {
          filter: brightness(0) invert(1); }
      .section-lotte-zone-2 .list-item .item:hover .detail .title {
        color: #92FE9D; } }
  @media (max-width: 991px) {
    .section-lotte-zone-2 .list-item .item {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center; }
      .section-lotte-zone-2 .list-item .item .icon {
        text-align: center; } }
  @media (max-width: 767px) {
    .section-lotte-zone-2:before {
      width: 55%; }
    .section-lotte-zone-2 .sitebox-actions .btn-trial {
      min-width: auto; }
    .section-lotte-zone-2 .list-item {
      margin: 0; }
      .section-lotte-zone-2 .list-item .item {
        border-width: 5px; }
        .section-lotte-zone-2 .list-item .item .icon img {
          max-width: 100px; }
        .section-lotte-zone-2 .list-item .item .detail {
          font-size: 18px; }
          .section-lotte-zone-2 .list-item .item .detail .title {
            font-size: 20px; }
    .section-lotte-zone-2 .note {
      font-size: 20px;
      margin: 30px 0; } }

.section-lotte-zone-3 .sitebox-heading {
  color: #3D3D3D; }

.section-lotte-zone-3 .banner-draw {
  position: relative; }
  .section-lotte-zone-3 .banner-draw:before, .section-lotte-zone-3 .banner-draw:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; }
  .section-lotte-zone-3 .banner-draw:before {
    top: 0;
    height: 100%;
    background-image: url(https://file.hstatic.net/1000001117/file/zone3-bf4.webp); }
  .section-lotte-zone-3 .banner-draw:after {
    top: -50px;
    height: 170px;
    background-image: url(https://file.hstatic.net/1000001117/file/zone3-bf1.webp); }
  .section-lotte-zone-3 .banner-draw .item .item-col1 {
    text-align: center; }
    .section-lotte-zone-3 .banner-draw .item .item-col1 .title {
      display: inline-block;
      border-radius: 10px;
      border: 1px #001AFF solid;
      padding: 10px 8px 2px;
      font-size: 24px;
      font-family: var(--hrv-font-family-bold);
      min-width: 200px;
      text-align: center; }
    .section-lotte-zone-3 .banner-draw .item .item-col1 .banner {
      margin-top: -20px; }
  .section-lotte-zone-3 .banner-draw .item .item-col2 ul li {
    position: relative;
    font-size: 18px;
    margin-bottom: 12px; }
    .section-lotte-zone-3 .banner-draw .item .item-col2 ul li:last-child {
      margin: 0; }
    .section-lotte-zone-3 .banner-draw .item .item-col2 ul li:before {
      content: '';
      position: absolute;
      bottom: calc(-100% + 3px);
      left: 0;
      width: calc(100% + 30px);
      height: 100%;
      background-image: url(https://file.hstatic.net/1000001117/file/zone3-bd.webp);
      background-size: contain;
      background-repeat: no-repeat; }
  .section-lotte-zone-3 .banner-draw .list-item-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1060px;
    margin: 0 auto; }
    .section-lotte-zone-3 .banner-draw .list-item-1 .item-left, .section-lotte-zone-3 .banner-draw .list-item-1 .item-right {
      display: flex;
      gap: 26px;
      align-items: center;
      position: relative; }
      .section-lotte-zone-3 .banner-draw .list-item-1 .item-left:before, .section-lotte-zone-3 .banner-draw .list-item-1 .item-right:before {
        content: '';
        position: absolute;
        bottom: -80px;
        width: 52%;
        height: 68px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1; }
    .section-lotte-zone-3 .banner-draw .list-item-1 .item-left {
      -ms-flex: 0 0 calc(35.5% - 13.5px);
      flex: 0 0 calc(35.5% - 13.5px);
      max-width: calc(35.5% - 13.5px); }
      .section-lotte-zone-3 .banner-draw .list-item-1 .item-left:before {
        left: 0;
        background-image: url(https://file.hstatic.net/1000001117/file/zone3-bf2.webp); }
    .section-lotte-zone-3 .banner-draw .list-item-1 .item-center {
      -ms-flex: 0 0 calc(26% - 13.5px);
      flex: 0 0 calc(26% - 13.5px);
      max-width: calc(26% - 13.5px); }
    .section-lotte-zone-3 .banner-draw .list-item-1 .item-right {
      -ms-flex: 0 0 calc(38.5% - 13.5px);
      flex: 0 0 calc(38.5% - 13.5px);
      max-width: calc(38.5% - 13.5px);
      gap: 0; }
      .section-lotte-zone-3 .banner-draw .list-item-1 .item-right:before {
        right: 0;
        background-image: url(https://file.hstatic.net/1000001117/file/zone3-bf3.webp); }
      .section-lotte-zone-3 .banner-draw .list-item-1 .item-right .banner {
        margin-top: -50px; }
      .section-lotte-zone-3 .banner-draw .list-item-1 .item-right .item-col2 {
        margin-top: -30px; }
        .section-lotte-zone-3 .banner-draw .list-item-1 .item-right .item-col2 ul li:before {
          background-image: url(https://file.hstatic.net/1000001117/file/zone3-bd2.webp); }
  .section-lotte-zone-3 .banner-draw .list-item-2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1075px;
    margin: 0 auto; }
    .section-lotte-zone-3 .banner-draw .list-item-2 .item {
      -ms-flex: 0 0 28%;
      flex: 0 0 28%;
      max-width: 28%; }
      .section-lotte-zone-3 .banner-draw .list-item-2 .item .item-col1 .title {
        min-width: 260px; }
      .section-lotte-zone-3 .banner-draw .list-item-2 .item .item-col1 .banner {
        margin: -32px 0 -25px; }

@media (min-width: 992px) {
  .section-lotte-zone-3 .sitebox-heading {
    margin-bottom: 124px; }
  .section-lotte-zone-3 .sitebox-wrap .group-txtlist li {
    padding-left: 24px; } }

@media (max-width: 1199px) {
  .section-lotte-zone-3 .banner-res {
    overflow-x: scroll;
    padding-top: 50px; }
  .section-lotte-zone-3 .banner-draw {
    width: 700px; }
    .section-lotte-zone-3 .banner-draw:after {
      height: 130px; }
    .section-lotte-zone-3 .banner-draw .item .item-col1 .title {
      font-size: 14px;
      min-width: 100px;
      padding: 6px 8px 2px; }
    .section-lotte-zone-3 .banner-draw .item .item-col1 .banner {
      margin-top: -10px; }
      .section-lotte-zone-3 .banner-draw .item .item-col1 .banner img {
        max-width: 120px; }
    .section-lotte-zone-3 .banner-draw .item .item-col2 ul li {
      font-size: 13px;
      margin-bottom: 10px; }
      .section-lotte-zone-3 .banner-draw .item .item-col2 ul li:before {
        width: calc(100% + 15px); }
    .section-lotte-zone-3 .banner-draw .list-item-1 {
      gap: 10px; }
      .section-lotte-zone-3 .banner-draw .list-item-1 .item-left {
        gap: 8px; }
      .section-lotte-zone-3 .banner-draw .list-item-1 .item-left:before, .section-lotte-zone-3 .banner-draw .list-item-1 .item-right:before {
        bottom: -65px;
        width: 50%;
        height: 50px; }
    .section-lotte-zone-3 .banner-draw .list-item-2 {
      margin-bottom: 20px; }
      .section-lotte-zone-3 .banner-draw .list-item-2 .item {
        -ms-flex: 0 0 38%;
        flex: 0 0 38%;
        max-width: 38%; }
        .section-lotte-zone-3 .banner-draw .list-item-2 .item .item-col1 .title {
          min-width: 180px; }
        .section-lotte-zone-3 .banner-draw .list-item-2 .item .item-col1 .banner {
          margin: -20px 0 -15px; } }

.section-lotte-zone-4 {
  padding-top: 0; }
  .section-lotte-zone-4 .form-pd {
    padding: 70px 100px 55px;
    background: #171717;
    border-radius: 20px;
    position: relative;
    /*overflow: hidden;*/ }
    .section-lotte-zone-4 .form-pd:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 651px;
      height: 506px;
      background-image: url(https://file.hstatic.net/1000001117/file/before-2.webp);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left bottom;
      border-radius: 0 0 0 20px; }
  .section-lotte-zone-4 .lotte-about {
    padding-left: 0; }
    .section-lotte-zone-4 .lotte-about .about-item {
      background: linear-gradient(180deg, white 83%, #E7E7E7 100%);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px;
      gap: 36px; }
      .section-lotte-zone-4 .lotte-about .about-item:first-child {
        margin-bottom: 12px; }
      .section-lotte-zone-4 .lotte-about .about-item .item-detail {
        flex: 0 0 50%; }
        .section-lotte-zone-4 .lotte-about .about-item .item-detail img {
          max-height: 64px; }
        .section-lotte-zone-4 .lotte-about .about-item .item-detail .desc {
          margin: 0;
          padding: 0 12px 12px;
          font-size: 18px; }
      .section-lotte-zone-4 .lotte-about .about-item .item-img {
        padding: 12px; }
  .section-lotte-zone-4 .lotte-form {
    scroll-margin-block-start: 150px; }
    .section-lotte-zone-4 .lotte-form .form-title {
      font-size: 24px;
      font-family: var(--hrv-font-family-medium);
      color: #e7e7e7;
      margin-bottom: 35px; }
  @media (max-width: 991px) {
    .section-lotte-zone-4 .form-pd:before {
      width: 100%; }
    .section-lotte-zone-4 .lotte-form {
      margin-top: 30px;
      scroll-margin-block-start: 100px; }
      .section-lotte-zone-4 .lotte-form .form-title {
        text-align: center; } }
  @media (max-width: 767px) {
    .section-lotte-zone-4 .form-pd {
      padding: 40px 20px;
      border-radius: 0; }
      .section-lotte-zone-4 .form-pd:before {
        border-radius: 0; }
    .section-lotte-zone-4 .lotte-about {
      padding-left: 15px; }
      .section-lotte-zone-4 .lotte-about .about-item {
        gap: 8px;
        padding: 5px; }
        .section-lotte-zone-4 .lotte-about .about-item .item-detail {
          flex: 0 0 65%; }
          .section-lotte-zone-4 .lotte-about .about-item .item-detail img {
            max-height: 50px; }
          .section-lotte-zone-4 .lotte-about .about-item .item-detail .desc {
            font-size: 16px; }
        .section-lotte-zone-4 .lotte-about .about-item .item-img {
          padding: 5px; }
    .section-lotte-zone-4 .lotte-form .form-title {
      font-size: 20px;
      margin-bottom: 15px; } }

.footer {
  background: #0047C3;
  padding: 80px 0; }

.footer-title {
  font-size: 36px;
  letter-spacing: 0;
  font-family: var(--hrv-font-family-bold);
  color: #F6F6F6;
  margin: 0 0 24px; }

.footer-title.title-help {
  font-size: 48px;
  line-height: 1.25; }

.footer-content ul li {
  font-size: 16px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.footer-content ul li:not(:last-child) {
  padding-bottom: 15px; }

.footer-content ul li img {
  width: 24px;
  height: 24px;
  margin-right: 13px;
  -webkit-flex: 0 0 24px;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px; }

.footer-content ul li a {
  color: #e7e7e7;
  margin-top: 5px;
  font-size: 18px; }

@media (max-width: 991px) and (min-width: 768px) {
  .footer-title.title-help {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px; }
  .footer-title {
    font-size: 28px; } }

@media (max-width: 767px) {
  .footer {
    padding: 50px 0; }
    .footer .row {
      gap: 30px; }
  .footer-title.title-help {
    max-width: initial;
    margin-bottom: 0;
    font-size: 28px; }
  .footer-title {
    font-size: 24px;
    margin-bottom: 15px; }
  .footer-content ul li a {
    font-size: 14px; } }

/*===================================================================*/
/* modal succes */
.modal.modalForm-success .modal-dialog {
  opacity: 0;
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.modal.modalForm-success.show .modal-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.modal.modalForm-success {
  background: rgba(3, 17, 27, 0.7);
  padding: 0; }

.modalForm-success .modal-content {
  position: relative;
  border: 0;
  background-color: #0068FF;
  background: -moz-linear-gradient(130deg, #0068FF 0%, #0068FF 99%);
  background: -webkit-linear-gradient(130deg, #0068FF 0%, #0068FF 99%);
  background: -webkit-linear-gradient(130deg, #0068FF 0%, #0068FF 99%); }

.modalForm-success .modal-content:before, .modalForm-success .modal-content:after {
  content: "";
  position: absolute;
  width: 35%;
  top: 0;
  bottom: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.modalForm-success .modal-content:after {
  right: 0;
  background-image: url(../../../../file.hstatic.net/1000001117/file/modal-succes-vector-right-min.png); }

.modalForm-success .modal-content:before {
  left: 0;
  background-image: url(../../../../file.hstatic.net/1000001117/file/modal-succes-vector-left-min.png); }

.modalForm-success .modal-content .modal-body {
  z-index: 2;
  padding: 20px 35px; }

.modalForm-success .modal-body img {
  width: 200px; }

.modalForm-success .modal-body .modal-title {
  font-size: 28px;
  color: #fff;
  font-family: var(--hrv-font-family-bold);
  margin: 0 0 30px;
  text-transform: uppercase;
  padding-bottom: 10px;
  position: relative; }

.modalForm-success .modal-body .modal-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: 1px;
  background: #fff; }

.modalForm-success .modal-body p:not(.modal-title) {
  font-size: 16px;
  color: #fff;
  margin: 20px 0 0; }

.modalForm-success .hide_modal {
  padding: 10px 30px;
  text-transform: uppercase; }

.modalForm-success .modal-body p.txt-link {
  margin-top: 10px; }

.modalForm-success .modal-body p.txt-link a {
  color: #ffffff;
  text-decoration: underline;
  opacity: 0.8; }

@media (min-width: 768px) {
  .modalForm-success .modal-dialog {
    width: 555px; } }

@media (max-width: 767px) {
  .modalForm-success .modal-content:before,
  .modalForm-success .modal-content:after {
    width: 40%;
    background-size: auto; }
  .modalForm-success .modal-content .modal-body {
    padding: 20px 18px; } }

/* popup Register  */
.modalForm-register.fade.show {
  opacity: 1;
  z-index: 10551; }

.modalForm-register .modal-content {
  background-color: #fff;
  border: 0;
  box-shadow: 0px 0px 40px 0px rgba(0, 172, 193, 0.16);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 80px;
  overflow: hidden; }

.modalForm-register .modal-heading {
  background: #ffffff;
  text-align: center;
  border: 0;
  padding: 35px 25px 5px;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.modalForm-register .modal-heading .modal-close {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 5;
  margin: 0;
  padding: 0;
  outline: none;
  margin-top: 0px;
  opacity: 1;
  float: initial;
  text-shadow: none;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  text-align: center;
  /*background: #e5e5e5;border: 1px solid #e5e5e5;*/ }

.modalForm-register .modal-heading .modal-close .close {
  padding: 0;
  margin: 0; }

.modalForm-register .modal-heading .modal-close svg {
  display: block;
  fill: #33475b;
  width: 20px;
  height: 100%;
  opacity: 0.7;
  margin: auto;
  -webkit-transition: -webkit-transform .25s, opacity .25s;
  -moz-transition: -moz-transform .25s, opacity .25s;
  transition: transform .25s, opacity .25s; }

.modalForm-register .modal-heading .modal-close:hover svg {
  opacity: 1;
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  transform: scale(1.12); }

.modalForm-register .modal-heading .modal-title {
  padding: 0px 0px 0;
  line-height: 1.3;
  color: #0141A7;
  font-size: 28px;
  margin: 0px auto 5px;
  font-family: var(--hrv-font-family-bold); }

.modalForm-register .modal-heading .modal-subtitle {
  font-size: 16px;
  position: relative;
  margin: 0 auto; }

.modalForm-register .modal-bodyform {
  position: relative;
  padding: 10px 35px 30px; }

/* Modal body form  */
.field-group {
  margin-bottom: 10px; }

.field-group .field-messages {
  font-size: 13px;
  margin: 5px 0;
  padding: 0 20px;
  color: #bababa; }

.field-input-wrapper {
  position: relative; }

.field-input-wrapper .field-label {
  font-size: 15px;
  color: #666666;
  font-family: 'sfuiText_medium';
  display: block;
  font-weight: initial;
  padding: 0;
  margin: 0 0 7px; }

.field-input-wrapper .field-label b {
  color: #ff0000;
  font-weight: initial;
  font-size: 88%; }

.field-input-wrapper .field-placeholder {
  font-size: 18px;
  color: #757575;
  display: block;
  font-weight: initial;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 8px;
  left: 20px;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  pointer-events: none;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-transition-property: opacity, transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms; }

.field-required .field-input-wrapper .field-placeholder:after {
  content: " *";
  font-size: 18px;
  color: #FF4A56; }

.field-input-wrapper .field-input,
.field-input-wrapper .field-select {
  font-family: 'sfuiText_medium';
  font-size: 18px;
  color: #757575;
  background: #1C1C1C;
  border-radius: 5px;
  border: 1px #262626 solid;
  display: block;
  width: 100%;
  padding: 8px 20px;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.03);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: padding 150ms;
  -moz-transition: padding 150ms;
  transition: padding 150ms; }

.field-input-wrapper textarea.field-input {
  width: 100%;
  max-width: 100%; }

.field-group .field-input-wrapper .field-input[type=number]::-webkit-outer-spin-button,
.field-group .field-input-wrapper .field-input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.field-group .field-input-wrapper .field-input::-webkit-input-placeholder {
  color: #666666;
  font-size: 0; }

.field-group .field-input-wrapper .field-input::-moz-placeholder {
  color: #666666;
  font-size: 0; }

.field-group .field-input-wrapper .field-input::-ms-input-placeholder {
  color: #666666;
  font-size: 0; }

/* select */
.field-group-select .field-input-wrapper:not(.js-is-field) .field-placeholder {
  opacity: 0;
  visibility: hidden; }

.field-input-wrapper .field-select-dropdown {
  position: relative; }

.field-input-wrapper .field-select-dropdown:after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  right: 18px;
  border: solid #666666;
  border-width: 0px 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.field-input-wrapper .field-select-dropdown .field-select {
  padding-right: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.field-input-wrapper .field-select-dropdown .field-select option,
.field-input-wrapper .field-select-dropdown .field-select:invalid {
  color: #3d5067;
  font-size: 15px; }

.field-input-wrapper .field-select-dropdown .field-select option[value="null"],
.field-input-wrapper .field-select-dropdown .field-select option[value=""] {
  color: #bababa; }

/* checkbox- radio */
.field-group.field-group-radio .field-input-wrapper .field-label,
.field-group.field-group-checkbox .field-input-wrapper .field-label {
  font-size: 18px;
  color: #495057;
  margin-bottom: 10px;
  font-family: 'sfuiText_medium'; }

.field-group.field-group-radio .field-input-wrapper .field-label.red,
.field-group.field-group-checkbox .field-input-wrapper .field-label.red {
  color: #f10707; }

.listChoice-option .checkbox-primary, .listChoice-option .radio-primary {
  margin: 0px 0 10px;
  padding: 0;
  position: relative; }

.listChoice-option .radio-primary input[type='radio'] + label,
.listChoice-option .checkbox-primary input[type='checkbox'] + label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  color: #6f6c90;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  margin: 0;
  font-family: 'sfuiText_semibold',sans-serif; }

.listChoice-option .radio-primary input[type='radio'],
.listChoice-option .checkbox-primary input[type='checkbox'] {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  color: #fff;
  background: #fffef2;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  margin: 0;
  transition: all 0.15s ease-out 0s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.listChoice-option .radio-primary input[type='radio']:before,
.listChoice-option .checkbox-primary input[type='checkbox']:before {
  content: '\2714\fe0e';
  font-size: 14px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  opacity: 0;
  position: absolute;
  display: inline-block;
  text-align: center; }

.listChoice-option .radio-primary .input-radius[type='radio'],
.listChoice-option .radio-primary .input-radius[type='radio']:after {
  border-radius: 50%; }

.listChoice-option .radio-primary input[type='radio']:hover:before,
.listChoice-option .checkbox-primary input[type='checkbox']:hover:before {
  opacity: 1;
  color: #F9A825; }

.listChoice-option .radio-primary input[type='radio']:hover,
.listChoice-option .checkbox-primary input[type='checkbox']:hover {
  background: #fff; }

.listChoice-option .radio-primary input[type='radio']:checked,
.listChoice-option .checkbox-primary input[type='checkbox']:checked {
  background: #0047ba;
  border-color: #ffffff; }

.listChoice-option .radio-primary input[type='radio']:checked:after,
.listChoice-option .checkbox-primary input[type='checkbox']:checked:after {
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  background: #00b0ff;
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s; }

.listChoice-option .radio-primary input[type='radio']:checked:before,
.listChoice-option .checkbox-primary input[type='checkbox']:checked:before {
  opacity: 1;
  color: #ffffff; }

@keyframes click-wave {
  0% {
    height: 15px;
    width: 15px;
    opacity: 0.35;
    position: relative; }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    opacity: 0; } }

.listChoice-flexbox {
  margin: 0 -5px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.listChoice-flexbox > div {
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 10px; }

.listChoice-flexbox .radio-primary {
  position: relative; }

.listChoice-flexbox .radio-primary input.option-input[type='radio'] {
  position: absolute;
  top: 8px;
  left: 12px;
  height: 18px;
  visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.listChoice-flexbox .radio-primary input[type='radio'] + label {
  margin: 0;
  cursor: pointer;
  color: #3d5067;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 8px 5px;
  border-radius: 4px;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in; }

.listChoice-flexbox .radio-primary input[type='radio'] + label:before {
  content: "";
  width: 2px;
  height: 110%;
  background-color: #0047ba;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1); }

.listChoice-flexbox .radio-primary input.option-input[type='radio']:checked + label,
.listChoice-flexbox .radio-primary input.option-input[type='checkbox']:checked + label {
  border-color: #0047ba;
  color: #fff; }

.listChoice-flexbox .radio-primary input.option-input[type='radio']:checked + label:before {
  width: 120%;
  transform: translate(-50%, -50%);
  opacity: 1; }

/* js-active */
.js-is-field.field-input-wrapper .field-input,
.js-is-field.field-input-wrapper .field-select {
  padding-top: 14px;
  padding-bottom: 2px; }

.js-is-field.field-input-wrapper .field-placeholder {
  visibility: visible;
  opacity: 1;
  font-size: 11px;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px); }
  .js-is-field.field-input-wrapper .field-placeholder:after {
    font-size: 11px; }

.field-group.field-group-error .field-input-wrapper .field-label {
  color: #ff0000; }

/* button */
.field-group-button {
  margin: 35px 0 0; }

.field-group-button .btn_contact_send {
  width: 100%; }

.field-group-button .btn-submit-form {
  position: relative;
  outline: none;
  overflow: hidden;
  font-size: 18px;
  font-family: 'sfuiText_bold';
  text-transform: uppercase;
  margin-top: 10px;
  min-width: 270px;
  width: 100%;
  color: #ffffff;
  background: #0169ed;
  border: 0;
  padding: 12px 30px;
  display: block;
  vertical-align: middle;
  outline: none;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.field-group-button .btn-submit-form:before {
  content: "";
  background: #ff4e00;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.field-group-button .btn-submit-form:hover,
.field-group-button .btn-submit-form:focus {
  outline: none; }

.field-group-button .btn-submit-form:hover:before,
.field-group-button .btn-submit-form:focus:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

@media (min-width: 768px) {
  .modalForm-register .modal-dialog {
    max-width: 550px; }
  .modalForm-register.modalForm-video .modal-dialog {
    max-width: 900px; }
  .modalForm-register.modalForm-video .modal-dialog .iframe-video iframe {
    width: 100%;
    max-width: 100%;
    min-height: 500px; } }

@media (max-width: 767px) {
  .modalForm-register .modal-content {
    margin-bottom: 0;
    margin-top: 20px; }
  .modalForm-register .modal-heading {
    padding: 30px 20px 5px; }
  .modalForm-register .modal-heading .modal-title {
    font-size: 25px;
    padding: 0px 0px 0; }
  .modalForm-register .modal-heading .modal-subtitle {
    font-size: 14px; }
  .field-group-button .button {
    width: 100%; }
  .modalForm-register .modal-bodyform {
    padding: 8px 15px 30px; }
  .field-input-wrapper .field-placeholder {
    top: 6px;
    left: 15px;
    font-size: 16px; }
  .field-input-wrapper .field-input, .field-input-wrapper .field-select {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px; }
  .field-group.field-group-radio .field-input-wrapper .field-label,
  .field-group.field-group-checkbox .field-input-wrapper .field-label {
    font-size: 16px; }
  .listChoice-option .radio-primary input[type='radio'] + label, .listChoice-option .checkbox-primary input[type='checkbox'] + label {
    font-size: 13px; }
  .modalForm-register.modalForm-video .modal-dialog .iframe-video iframe {
    max-width: 100%; }
  .field-group-button {
    margin: 20px 0 0; } }

.field-group .field-error {
  margin: 0;
  font-size: 12px;
  color: #FF4A56; }

.checkbox.checkbox-primary.input-text {
  color: #6f6c90;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start; }
  .checkbox.checkbox-primary.input-text input, .checkbox.checkbox-primary.input-text textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    color: #6f6c90;
    width: 80%;
    padding-left: 15px; }
  .checkbox.checkbox-primary.input-text textarea {
    height: 24px; }

.text-error-form {
  color: red;
  margin-bottom: 15px; }

.modalForm-register.modalForm-video .sitebox-actions {
  margin-top: 10px; }

.modalForm-register.modalForm-video .modal-heading .modal-title p {
  font-size: 20px; }

@media (max-width: 767px) {
  .modalForm-register.modalForm-video .modal-heading .modal-title p {
    font-size: 18px; } }
