/*============ 0. Reset =============*/
* {
  margin: 0;
  padding: 0; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'sfuiText_regular',Helvetica,sans-serif;
  font-size: 16px;
  color: #3c3c3c;
  line-height: 1.6;
  background: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 767px) {
    body {
      font-size: 14px; } }

/* 1.2 - HTML5 Elements */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block; }

a, a:hover {
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

a:hover {
  text-decoration: none; }

img, svg {
  max-width: 100%; }

ol, ul {
  margin: 0; }

p {
  margin: 0 0 10px; }

/*============ 1. GENERAL ==============*/
.brand-thlong-1 {
  fill: #ea2028; }

.brand-thlong-1, .brand-thlong-2, .brand-thlong-3, .brand-thlong-4, .brand-thlong-5 {
  fill-rule: evenodd; }

.brand-thlong-2 {
  fill: #02adee; }

.brand-thlong-3 {
  fill: #055caa; }

.brand-thlong-4 {
  fill: #0a0a0a; }

.brand-thlong-5 {
  fill: #005aab; }

.os-animation, .staggered-animation {
  opacity: 0; }

.os-animation.animated, .staggered-animation.animated {
  opacity: 1; }

@media (max-width: 991px) {
  .os-animation, .staggered-animation {
    opacity: 1;
    animation-name: none !important; }
  .os-animation.animated, .staggered-animation.animated {
    opacity: 1;
    animation-name: none !important; } }

.brand-googleretail-1 {
  fill: #4885ed; }

.brand-googleretail-2 {
  fill: #db3236; }

.brand-googleretail-3 {
  fill: #f4c20d; }

.brand-googleretail-4 {
  fill: #3cba54; }

.brand-googleretail-5 {
  fill: #73716f; }

.sitebox-header {
  margin-bottom: 30px; }
  .sitebox-header h2 {
    line-height: 1.4;
    font-size: 28px;
    color: #000000;
    margin: 0 0 5px;
    font-family: 'sfuiText_semibold';
    text-transform: uppercase; }
  .sitebox-header h2.color-white {
    color: #ffffff; }
  .sitebox-header .subtitle {
    font-size: 18px;
    color: #00294d;
    margin: 0; }
  @media (max-width: 1199px) and (min-width: 992px) {
    .sitebox-header h2 {
      font-size: 30px; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .sitebox-header h2 {
      font-size: 22px; } }
  @media (max-width: 767px) {
    .sitebox-header {
      margin-bottom: 20px; }
    .sitebox-header h2 {
      font-size: 18px; }
    .sitebox-header .subtitle {
      font-size: 14px; } }

.sitebox-actions .btn-trial {
  font-size: 18px;
  font-family: 'sfuiText_bold';
  min-width: 270px;
  color: #ffffff;
  background: #fcc027;
  border: 1px solid #fcc027;
  padding: 12px 35px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }
  .sitebox-actions .btn-trial:before {
    background-color: #ff9800; }
  .sitebox-actions .btn-trial.disabled {
    pointer-events: none;
    opacity: 0.7; }
  .sitebox-actions .btn-trial--white {
    color: #fcc027;
    background: #ffffff; }
  .sitebox-actions .btn-trial:hover, .sitebox-actions .btn-trial:focus {
    color: #ffffff;
    background: #ff9800;
    border-color: #ff9800; }
  .sitebox-actions .btn-trial--white:hover, .sitebox-actions .btn-trial--white:focus {
    color: #ffffff;
    background: #ff9800;
    border-color: #ff9800; }

.sitebox-actions .txt-note {
  margin: 0;
  font-style: italic;
  font-size: 14px;
  margin: 0; }

@media (max-width: 767px) {
  .sitebox-actions .btn-trial {
    font-size: 14px;
    padding: 10px 15px;
    min-width: 70%; } }

[class^="section-software-"] {
  margin-bottom: 60px; }

@media (max-width: 767px) {
  [class^="section-software-"] {
    margin-bottom: 40px; } }

@keyframes scroll {
  0% {
    transform: translateY(-2px); }
  100% {
    transform: translateY(10px); } }

@keyframes down-chevron {
  0% {
    opacity: 1;
    top: 0; }
  50% {
    opacity: 0.6;
    top: -8px; }
  100% {
    opacity: 1;
    top: 0px; } }

@keyframes right-chevron {
  0% {
    opacity: 0.8;
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translateX(-10px); } }

.topbar-module {
  background: #ffe600;
  text-align: center; }
  .topbar-module h2 {
    padding: 25px 10px 22px;
    margin: 0;
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    font-family: 'sfuiText_semibold'; }
  .topbar-module .topbar-link-scroll {
    display: inline-block;
    cursor: pointer;
    padding: 5px; }
  .topbar-module .arrow-down-svg svg {
    width: 14px;
    margin-left: 10px; }
    .topbar-module .arrow-down-svg svg .arrow {
      -webkit-animation: scroll 0.38s ease-in alternate infinite;
      animation: scroll 0.38s ease-in alternate infinite; }
  .topbar-module .arrow-down {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    top: -3px;
    display: none !important;
    position: relative;
    overflow: hidden; }
    .topbar-module .arrow-down span {
      position: absolute;
      width: 0;
      height: 98%;
      border: 1px solid;
      border-radius: 2px;
      animation: down-chevron 2s ease-out alternate infinite; }
      .topbar-module .arrow-down span:after {
        content: " ";
        position: absolute;
        bottom: 0px;
        left: -6px;
        width: 12px;
        height: 12px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        border-radius: 2px;
        -ms-transform: rotateZ(45deg);
        transform: rotateZ(45deg); }
  @media (max-width: 1199px) and (min-width: 992px) {
    .topbar-module h2 {
      font-size: 22px; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .topbar-module h2 {
      font-size: 18px;
      padding: 20px 10px 18px; } }
  @media (max-width: 767px) {
    .topbar-module h2 {
      font-size: 14px;
      padding: 15px 0px 12px; } }

.section-features-new {
  background: #063e9f;
  position: relative;
  overflow: hidden;
  padding: 0 0 70px; }
  .section-features-new:before {
    content: "";
    position: absolute;
    width: 50%;
    left: 50%;
    top: 0;
    bottom: 0;
    opacity: 0.8;
    max-width: 1000px;
    background-image: url("../../../../file.hstatic.net/1000001117/file/omni-mask-vector_57cfb51cec1047f99c39c57f6e6159a1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left; }
  .section-features-new .features-kicker {
    text-align: center;
    margin-bottom: 50px; }
    .section-features-new .features-kicker .lablel-new {
      color: #ffffff;
      font-size: 14px;
      font-family: 'sfuiText_bold';
      background: #00B55A;
      border-radius: 0px 0px 10px 10px;
      display: inline-block;
      text-transform: uppercase;
      padding: 10px 30px; }
  .section-features-new .features-content {
    border: 2px solid #F0F0F4; }
    .section-features-new .features-content .box-row-title .box-ico {
      -ms-flex: 0 0 95px;
      flex: 0 0 95px;
      max-width: 95px; }
    .section-features-new .features-content .box-row-title .box-txt {
      -ms-flex: 0 0 calc(100% - 95px);
      flex: 0 0 calc(100% - 95px);
      max-width: calc(100% - 95px);
      padding-left: 30px; }
    .section-features-new .features-content .box-row-title .box-ico .count {
      display: block;
      color: #ffffff;
      font-size: 48px;
      font-family: 'sfuiText_semibold';
      text-align: center; }
    .section-features-new .features-content .box-row-title .box-txt .title {
      margin: 0;
      line-height: 1.5;
      color: #ffffff;
      font-size: 24px;
      font-family: 'sfuiText_semibold'; }
    .section-features-new .features-content .box-row-title .box-txt h2.title {
      text-transform: uppercase; }
    .section-features-new .features-content .box-link {
      color: #FFDD00;
      font-family: 'sfuiText_bold';
      margin: 0;
      text-transform: uppercase; }
      .section-features-new .features-content .box-link .link--secondary {
        color: #ffdd00; }
      .section-features-new .features-content .box-link .link--secondary .link--arrow {
        overflow: hidden;
        height: 12px;
        margin-left: 5px;
        margin-bottom: -0.125em;
        stroke: currentColor;
        stroke-width: 2;
        fill: transparent; }
      .section-features-new .features-content .box-link .link--secondary .link--arrow .link--arrow-inner {
        transform: translateX(-30px);
        transition: transform 200ms;
        -webkit-animation: right-chevron 0.5s ease-in alternate infinite;
        animation: right-chevron 0.5s ease-in alternate infinite; }
    .section-features-new .features-content .pillar-detail .wrap-title {
      position: relative;
      margin-left: -30px; }
      .section-features-new .features-content .pillar-detail .wrap-title .box-row-title .box-txt {
        position: relative; }
      .section-features-new .features-content .pillar-detail .wrap-title .box-row-title .box-txt:before {
        content: "";
        width: 2px;
        height: 36px;
        background: #ffffff;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0; }
    .section-features-new .features-content .pillar-detail .wrap-info {
      font-size: 18px;
      color: #ffffff;
      margin: 30px 0; }
      .section-features-new .features-content .pillar-detail .wrap-info strong {
        font-family: 'sfuiText_bold';
        font-weight: initial; }
      .section-features-new .features-content .pillar-detail .wrap-info ul {
        margin: 0; }
      .section-features-new .features-content .pillar-detail .wrap-info ul li {
        position: relative;
        margin-bottom: 15px;
        padding-left: 35px; }
      .section-features-new .features-content .pillar-detail .wrap-info ul li:before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.6665 10.9167L9.1665 13.4167L13.3332 8.41669' stroke='white' stroke-width='2.08333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.99984 18.8334C14.6022 18.8334 18.3332 15.1024 18.3332 10.5C18.3332 5.89765 14.6022 2.16669 9.99984 2.16669C5.39746 2.16669 1.6665 5.89765 1.6665 10.5C1.6665 15.1024 5.39746 18.8334 9.99984 18.8334Z' stroke='white' stroke-width='2.08333'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat; }
    .section-features-new .features-content .pillar-picture .wrap-action {
      display: none; }
    .section-features-new .features-content__wrap + .features-content__wrap {
      border-top: 2px solid #F0F0F4; }
    .section-features-new .features-content__title {
      position: relative;
      cursor: pointer; }
      .section-features-new .features-content__title .box-row-title .box-txt {
        position: relative;
        border-left: 2px solid  #ffffff;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 100px; }
      .section-features-new .features-content__title .box-row-title .box-txt:after {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 30px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0002 37.1667C29.2049 37.1667 36.6668 29.7048 36.6668 20.5C36.6668 11.2953 29.2049 3.83334 20.0002 3.83334C10.7954 3.83334 3.3335 11.2953 3.3335 20.5C3.3335 29.7048 10.7954 37.1667 20.0002 37.1667Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 13.8333V27.1667' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3335 20.5H26.6668' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat; }
    .section-features-new .features-content__collapse {
      display: none; }
      .section-features-new .features-content__collapse .wrapper-pillar {
        padding: 50px 30px; }
    .section-features-new .features-content__wrap.is-active .features-content__title {
      display: none; }
  @media (min-width: 1200px) {
    .section-features-new .features-content .pillar-picture {
      padding-left: 0; }
    .section-features-new .features-content .features-new-1 .pillar-detail .wrap-info {
      padding-right: 30px; } }
  @media (min-width: 992px) {
    .section-features-new .features-content .pillar-detail, .section-features-new .features-content .pillar-picture {
      -ms-align-self: center;
      align-self: center; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .section-features-new .features-content .pillar-picture {
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .section-features-new .features-content .pillar-detail .wrap-title {
      margin-left: -50px; }
    .section-features-new .features-content .pillar-detail .wrap-action {
      display: none; }
    .section-features-new .features-content .pillar-picture .wrap-action {
      display: block;
      padding: 12px 0 0 10px; }
    .section-features-new .features-content__collapse .wrapper-pillar {
      padding: 50px 55px; } }
  @media (max-width: 767px) {
    .section-features-new:before {
      display: none; }
    .section-features-new .features-kicker {
      margin-bottom: 30px; }
    .section-features-new .features-kicker .lablel-new {
      font-size: 13px; }
    .section-features-new .features-content .box-row-title .box-ico {
      -ms-flex: 0 0 50px;
      flex: 0 0 50px;
      max-width: 50px; }
    .section-features-new .features-content .box-row-title .box-txt {
      -ms-flex: 0 0 calc(100% - 50px);
      flex: 0 0 calc(100% - 50px);
      max-width: calc(100% - 50px);
      padding-left: 20px; }
    .section-features-new .features-content .box-row-title .box-ico .count {
      font-size: 30px; }
    .section-features-new .features-content .box-row-title .box-txt .title {
      font-size: 18px; }
    .section-features-new .features-content .pillar-detail .wrap-title {
      margin-left: -15px; }
      .section-features-new .features-content .pillar-detail .wrap-title .box-row-title .box-txt:before {
        height: 20px; }
    .section-features-new .features-content .pillar-detail .wrap-info {
      font-size: 14px;
      margin: 20px 0 0; }
    .section-features-new .features-content .pillar-detail .wrap-action {
      display: none; }
    .section-features-new .features-content .pillar-picture .wrap-action {
      display: block;
      padding: 12px 0 0 10px; }
    .section-features-new .features-content__title .box-row-title .box-txt {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 55px; }
    .section-features-new .features-content__title .box-row-title .box-txt:after {
      width: 26px;
      height: 26px;
      right: 10px; }
    .section-features-new .features-content__collapse .wrapper-pillar {
      padding: 35px 15px; } }

.section-software-overview {
  position: relative;
  overflow: hidden;
  padding: 80px 0 80px;
  margin-bottom: 0; }
  .section-software-overview:before {
    content: "";
    background-color: #f0f0f2;
    background-image: url("../../../../file.hstatic.net/1000001117/file/inventory-bgtop-min_c8e132303e8d4178b9dfecb031ec3995.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0; }
  .section-software-overview .sitebox-actions {
    margin-top: 30px; }
  .section-software-overview .overview-infor h1 {
    margin: 0 0 10px;
    line-height: 1.25;
    color: #000000;
    font-size: 36px;
    font-family: 'sfuiText_semibold'; }
  .section-software-overview .overview-infor .txtdesc {
    color: #0A0C0F;
    margin: 0px 0;
    font-size: 18px;
    line-height: 1.6;
    max-width: 450px; }
  .section-software-overview .overview-image {
    padding-right: 0;
    max-width: 945px; }
    .section-software-overview .overview-image .block-image {
      position: relative; }
    .section-software-overview .overview-image .block-image .image-normal .lazyload-image__placeholder {
      padding-bottom: 80.7401178%; }
    .section-software-overview .overview-image .sitebox-actions {
      display: none; }
  @media (min-width: 1200px) {
    .section-software-overview .overview-infor--inner {
      float: right;
      width: 100%;
      max-width: 445px; } }
  @media (min-width: 992px) {
    .section-software-overview .overview-infor {
      -webkit-align-self: center;
      align-self: center; }
    .section-software-overview .overview-image {
      -webkit-align-self: center;
      align-self: center;
      padding-right: 0;
      padding-left: 40px; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .section-software-overview .overview-infor h1 {
      font-size: 34px; }
    .section-software-overview .overview-infor--inner {
      float: right;
      width: 100%;
      max-width: calc((960px/2) - 30px);
      padding-right: 40px; }
    .section-software-overview .overview-image {
      padding-left: 0px; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .section-software-overview {
      /*.mainBanner-infor--inner{float: right;  width: 100%;  max-width: calc((720px/2) - 30px);}*/ }
      .section-software-overview {
        padding: 50px 0; }
      .section-software-overview .overview-infor {
        text-align: center; }
        .section-software-overview .overview-infor h1 {
          font-size: 32px; }
        .section-software-overview .overview-infor .txtdesc {
          max-width: 540px;
          margin: 0 auto 0px; }
        .section-software-overview .overview-infor .sitebox-actions {
          display: none; }
      .section-software-overview .overview-image {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px; }
        .section-software-overview .overview-image .block-image {
          margin: 25px auto;
          max-width: 600px; }
        .section-software-overview .overview-image .block-image .image-normal .lazyload-image__placeholder {
          padding-bottom: 66.7638484%; }
        .section-software-overview .overview-image .sitebox-actions {
          display: block; }
      .section-software-overview .container-fluid {
        max-width: 720px; } }
  @media (max-width: 767px) {
    .section-software-overview {
      padding: 40px 0 30px; }
    .section-software-overview .overview-infor {
      text-align: center; }
      .section-software-overview .overview-infor h1 {
        font-size: 25px; }
      .section-software-overview .overview-infor .txtdesc {
        font-size: 15px;
        margin-bottom: 0px;
        margin: 0 auto; }
      .section-software-overview .overview-infor .sitebox-actions {
        display: none; }
    .section-software-overview .overview-image {
      padding-right: 15px;
      text-align: center; }
      .section-software-overview .overview-image .block-image {
        margin: 20px 0 25px; }
      .section-software-overview .overview-image .block-image .image-normal .lazyload-image__placeholder {
        padding-bottom: 66.7638484%; }
      .section-software-overview .overview-image .sitebox-actions {
        display: block; }
    .section-software-overview .container-fluid {
      max-width: 540px; } }

.section-software-introduce {
  background-color: #0047ba;
  padding: 60px 0 30px;
  background-image: url("../../../../file.hstatic.net/1000001117/file/inventory-bg-intro-min_ebfe5b8d3d0a429d9ec79c6528c959e1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }
  .section-software-introduce .intro-item {
    margin-bottom: 30px; }
    .section-software-introduce .intro-item__image svg {
      height: 100px; }
    .section-software-introduce .intro-item__detail {
      font-size: 18px; }
      .section-software-introduce .intro-item__detail h3 {
        font-size: 24px;
        color: #ffffff;
        margin: 20px 0 18px;
        font-family: 'sfuiText_semibold'; }
      .section-software-introduce .intro-item__detail .txt-desc {
        margin: 0 0 20px;
        color: #ffffff; }
      .section-software-introduce .intro-item__detail .txt-link {
        font-family: 'sfuiText_medium';
        margin-top: auto;
        margin-bottom: 0; }
        .section-software-introduce .intro-item__detail .txt-link .link--secondary {
          color: #ffffff; }
        .section-software-introduce .intro-item__detail .txt-link .link--secondary .link--arrow {
          overflow: hidden;
          height: 12px;
          margin-left: 5px;
          margin-bottom: -0.125em;
          stroke: currentColor;
          stroke-width: 2;
          fill: transparent; }
        .section-software-introduce .intro-item__detail .txt-link .link--secondary .link--arrow .link--arrow-inner {
          transform: translateX(-30px);
          transition: transform 200ms cubic-bezier(0.4, 0.22, 0.28, 1); }
        .section-software-introduce .intro-item__detail .txt-link .link--secondary:hover .link--arrow-inner,
        .section-software-introduce .intro-item__detail .txt-link .link--secondary:focus .link--arrow-inner {
          transform: translateX(-10px);
          transition: transform 300ms cubic-bezier(0.4, 0.22, 0.28, 1); }
  @media (max-width: 991px) and (min-width: 768px) {
    .section-software-introduce .intro-item {
      margin-bottom: 30px; }
      .section-software-introduce .intro-item__image svg {
        height: 70px; }
      .section-software-introduce .intro-item__detail {
        font-size: 15px; }
        .section-software-introduce .intro-item__detail h3 {
          font-size: 20px; } }
  @media (max-width: 767px) {
    .section-software-introduce {
      padding: 35px 0 5px; }
    .section-software-introduce .sitebox-header {
      margin-bottom: 0px; }
    .section-software-introduce .intro-item {
      margin-bottom: 30px; }
      .section-software-introduce .intro-item__image {
        display: none; }
      .section-software-introduce .intro-item__detail {
        font-size: 14px; }
        .section-software-introduce .intro-item__detail h3 {
          font-size: 18px;
          margin-top: 30px;
          margin-bottom: 15px; }
        .section-software-introduce .intro-item__detail .txt-desc {
          margin-bottom: 15px; }
    .section-software-introduce .intro-item + .intro-item .intro-item__inner {
      border-top: 1px solid #E0E0E0; } }

.section-software-pillar {
  margin-bottom: 80px; }
  .section-software-pillar .pillar-flexrow + .pillar-flexrow {
    margin-top: 60px; }
  .section-software-pillar .pillar-detail__image.bglight {
    background: #F8F8FE; }
  .section-software-pillar .pillar-detail__image .wrapbox-lazyload {
    overflow: hidden; }
  .section-software-pillar .pillar-detail__image .wrapbox-lazyload .boximg-1 {
    -ms-flex: 0 0 64.5%;
    flex: 0 0 64.5%;
    max-width: 64.5%;
    -ms-align-self: center;
    align-self: center; }
  .section-software-pillar .pillar-detail__image .wrapbox-lazyload .boximg-2 {
    -ms-flex: 0 0 35.5%;
    flex: 0 0 35.5%;
    max-width: 35.5%;
    padding-top: 19px;
    -ms-align-self: end;
    align-self: end; }
  .section-software-pillar .pillar-detail__mrgin {
    margin-bottom: 30px; }
  .section-software-pillar .pillar-detail__title {
    padding-bottom: 4px; }
    .section-software-pillar .pillar-detail__title h2 {
      position: relative;
      padding-left: 50px;
      margin: 0px;
      line-height: 1.45;
      color: #407bff;
      font-size: 24px;
      font-family: 'sfuiText_semibold';
      text-transform: uppercase; }
    .section-software-pillar .pillar-detail__title h2:before {
      content: "";
      width: 32px;
      height: 32px;
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='32' height='36' viewBox='0 0 32 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3817 2.23318C14.8767 1.95824 15.4337 1.81396 16 1.81396C16.5663 1.81396 17.1233 1.95824 17.6183 2.23318L30.1433 9.18984C30.403 9.33424 30.6194 9.54544 30.77 9.80155C30.9206 10.0577 31 10.3494 31 10.6465V24.3715C30.9999 24.9659 30.8408 25.5495 30.5392 26.0617C30.2377 26.574 29.8047 26.9963 29.285 27.2848L17.6183 33.7682C17.1233 34.0431 16.5663 34.1874 16 34.1874C15.4337 34.1874 14.8767 34.0431 14.3817 33.7682L2.715 27.2848C2.19559 26.9964 1.76272 26.5744 1.46119 26.0624C1.15966 25.5505 1.00044 24.9673 1 24.3732V10.6465C0.999988 10.3494 1.0794 10.0577 1.23003 9.80155C1.38065 9.54544 1.59699 9.33424 1.85667 9.18984L14.3833 2.23318H14.3817Z' stroke='%23407BFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.5 5.5L23.5 13.8333V19.6667M6 18.5467L11 21.3333' stroke='%23407BFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 17.9998V33.8332M1 9.6665L16 17.9998L1 9.6665ZM16 17.9998L31 9.6665L16 17.9998Z' stroke='%23407BFF' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .section-software-pillar .pillar-detail__title .sTitle {
      margin: 0;
      color: #000000;
      font-size: 28px;
      font-family: 'sfuiText_semibold'; }
  .section-software-pillar .pillar-detail__textlist .box-row {
    margin-top: 10px; }
  .section-software-pillar .pillar-detail__textlist .box-item {
    margin-top: 20px; }
    .section-software-pillar .pillar-detail__textlist .box-item ul {
      list-style: disc;
      padding-left: 20px; }
  .section-software-pillar .pillar-detail__textlist .box-item h3 {
    margin: 0 0 10px;
    color: #000000;
    font-size: 18px;
    font-family: 'sfuiText_medium'; }
  .section-software-pillar .pillar-detail__textlist .box-item p {
    margin: 0px 0;
    font-size: 18px; }
  .section-software-pillar .pillar-detail__button {
    margin-top: 25px; }
  @media (min-width: 1200px) {
    .section-software-pillar .pillar-detail__textlist .box-row > [class^="col-"] {
      -ms-flex: 0 0 28%;
      flex: 0 0 28%;
      max-width: 28%; } }
  @media (max-width: 1199px) and (min-width: 992px) {
    .section-software-pillar .pillar-detail__textlist .box-row > [class^="col-"] {
      -ms-flex: 0 0 32%;
      flex: 0 0 32%;
      max-width: 32%; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .section-software-pillar {
      margin-bottom: 60px; }
    .section-software-pillar .pillar-flexrow + .pillar-flexrow {
      margin-top: 0px; }
    .section-software-pillar .pillar-detail__image {
      margin-top: 20px; }
      .section-software-pillar .pillar-detail__image .wrapbox-lazyload {
        max-width: 93%;
        margin: 0 auto; }
    .section-software-pillar .pillar-detail__button {
      text-align: center; } }
  @media (max-width: 767px) {
    .section-software-pillar {
      margin-bottom: 40px; }
    .section-software-pillar .pillar-flexrow + .pillar-flexrow {
      margin-top: 0px; }
    .section-software-pillar .pillar-detail__image {
      margin-top: 20px; }
      .section-software-pillar .pillar-detail__image .wrapbox-lazyload {
        max-width: 93%;
        margin: 0 auto; }
    .section-software-pillar .pillar-detail__title h2 {
      font-size: 18px;
      padding-left: 40px; }
    .section-software-pillar .pillar-detail__title h2:before {
      width: 24px;
      height: 24px; }
    .section-software-pillar .pillar-detail__title .sTitle {
      font-size: 18px; }
    .section-software-pillar .pillar-detail__mrgin {
      margin-bottom: 0px; }
    .section-software-pillar .pillar-detail__textlist .box-item h3 {
      font-size: 16px; }
    .section-software-pillar .pillar-detail__textlist .box-item p {
      font-size: 14px; }
    .section-software-pillar .pillar-detail__button {
      text-align: center; } }

.pillar-different-2 .tag-new {
  background: #FF4E4E;
  border-radius: 43px;
  font-size: 14px;
  color: #fff;
  padding: 3px 8px;
  position: relative;
  top: -2px; }

.pillar-different-2 .pillar-detail__title h2 {
  color: #000;
  text-transform: unset; }

.pillar-different-2 .pillar-detail__textlist .box-item h3 {
  font-size: 19px; }

.pillar-different-2 .pillar-detail__textlist .box-item p span {
  font-family: 'sfuiText_bold'; }

@media (min-width: 1200px) {
  .pillar-different-2 .pillar-detail__textlist .box-row > [class^="col-"] {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%; } }

@media (max-width: 767px) {
  .pillar-different-2 .pillar-detail__textlist .box-item h3 {
    font-size: 16px; } }

.section-software-benefit .benefit-item__inner {
  text-align: center;
  height: 100%;
  padding: 40px 5px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(12, 12, 12, 0.05); }

.section-software-benefit .benefit-item__icon {
  margin-bottom: 30px; }

.section-software-benefit .benefit-item__body p {
  margin: 0;
  font-size: 15px;
  color: #000000;
  font-family: 'sfuiText_semibold'; }

@media (min-width: 992px) {
  .section-software-benefit .benefit-item {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .section-software-benefit .benefit-item__inner {
    padding: 25px 15px; }
  .section-software-benefit .benefit-item__icon svg {
    height: 60px; }
  .section-software-benefit .benefit-item__body p {
    font-size: 15px; } }

@media (max-width: 767px) {
  .section-software-benefit .wrapper-content .row {
    justify-content: center; }
  .section-software-benefit .benefit-item:nth-child(odd) {
    padding-right: 10px; }
  .section-software-benefit .benefit-item:nth-child(even) {
    padding-left: 10px; }
  .section-software-benefit .benefit-item:nth-child(n + 3) {
    margin-top: 20px; }
  .section-software-benefit .benefit-item__inner {
    padding: 20px 15px; }
  .section-software-benefit .benefit-item__icon {
    margin-bottom: 20px; }
  .section-software-benefit .benefit-item__icon svg {
    height: 52px; }
  .section-software-benefit .benefit-item__body p {
    font-size: 14px; } }

.section-software-highlight {
  padding: 20px 0 30px; }
  .section-software-highlight .wrapper-highlight {
    position: relative;
    overflow: hidden;
    margin: 0 -15px;
    padding: 50px 30px;
    border-radius: 20px;
    background: linear-gradient(94.36deg, #0044A4 0.2%, #0068E2 100%); }
  .section-software-highlight .highlight-inner {
    position: relative;
    z-index: 1;
    max-width: 730px;
    margin: 0 auto;
    font-size: 18px;
    color: #ffffff; }
  .section-software-highlight .highlight-inner h2 {
    color: #ffffff;
    font-size: 32px;
    margin: 0 auto;
    font-family: 'sfuiText_bold';
    text-transform: uppercase; }
  .section-software-highlight .highlight-inner p {
    margin: 0; }
  .section-software-highlight .highlight-inner .sitebox-actions {
    margin-top: 25px; }
  .section-software-highlight .simple_shapes .shape-1 {
    position: absolute;
    bottom: 0;
    left: 2.5%; }
  .section-software-highlight .simple_shapes .shape-2 {
    position: absolute;
    bottom: 0;
    left: 1%; }
  .section-software-highlight .simple_shapes .shape-3 {
    position: absolute;
    top: 10%;
    right: 6%; }
  .section-software-highlight .simple_shapes .shape-4 {
    position: absolute;
    top: 0;
    right: 0; }
  @media (max-width: 991px) {
    .section-software-highlight {
      display: none; } }

.section-hrweb-questions .questions-item {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #1B2754;
  border-radius: 15px; }
  .section-hrweb-questions .questions-item__title {
    position: relative;
    padding-right: 40px;
    cursor: pointer; }
    .section-hrweb-questions .questions-item__title h3 {
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
      color: #000000;
      font-family: 'sfuiText_medium', sans-serif; }
    .section-hrweb-questions .questions-item__title .plus-icon {
      width: 25px;
      height: 25px;
      position: absolute;
      right: -5px;
      top: calc(50% - 12px); }
      .section-hrweb-questions .questions-item__title .plus-icon:after, .section-hrweb-questions .questions-item__title .plus-icon:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        background: #0a0c0f;
        -moz-transition: transform .25s linear;
        -o-transition: transform .25s linear;
        -webkit-transition: transform .25s linear;
        transition: transform .25s linear; }
      .section-hrweb-questions .questions-item__title .plus-icon:before {
        width: 15px;
        height: 2px;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .section-hrweb-questions .questions-item__title .plus-icon:after {
        width: 2px;
        height: 15px;
        transform-origin: center;
        -moz-transform: translate(-50%, -50%) scale(1, 1);
        -ms-transform: translate(-50%, -50%) scale(1, 1);
        -webkit-transform: translate(-50%, -50%) scale(1, 1);
        transform: translate(-50%, -50%) scale(1, 1); }
  .section-hrweb-questions .questions-item__content {
    padding-top: 15px;
    display: none; }
    .section-hrweb-questions .questions-item__content p {
      font-size: 16px;
      line-height: 150%;
      color: #3C4F5E;
      margin: 0; }
    .section-hrweb-questions .questions-item__content p a {
      padding-bottom: 2px;
      text-decoration: none;
      letter-spacing: -0.43px;
      color: #1876d2;
      background-image: linear-gradient(to right, #1876d2 0%, #1876d2 100%);
      background-size: 100% 1px;
      background-position: 0px 90%;
      background-repeat: no-repeat;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s; }
    .section-hrweb-questions .questions-item__content p a:hover {
      background-size: 0px 1px;
      text-decoration: none; }
  .section-hrweb-questions .questions-item.is-active .questions-item__title .plus-icon:after {
    -moz-transform: translate(-50%, -50%) scale(1, 0);
    -ms-transform: translate(-50%, -50%) scale(1, 0);
    -webkit-transform: translate(-50%, -50%) scale(1, 0);
    transform: translate(-50%, -50%) scale(1, 0); }

@media (max-width: 767px) {
  .section-hrweb-questions .questions-item {
    padding: 15px; }
    .section-hrweb-questions .questions-item__title h3 {
      font-size: 16px; }
    .section-hrweb-questions .questions-item__content p {
      font-size: 14px; } }

/*================= BRADND HARAVAN =================*/
.brand-tchouse--1 {
  fill: #000; }

.brand-juno-1 {
  fill: #e01b22; }

.brand-concung-1 {
  fill: #ea377c; }

.section-software-brands .sitebox-header {
  margin-bottom: 5px; }

.listBrand-logo {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.listBrand-logo .brand-item {
  padding: 8px 10px;
  -ms-flex: 0 0 calc(100%/7);
  flex: 0 0 calc(100%/7);
  max-width: calc(100%/7); }

.listBrand-logo .brand-item .brand-item--logo {
  box-sizing: content-box;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: auto; }

.listBrand-logo .brand-item .brand-item--logo .logo--insert {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 75%; }

.listBrand-logo .brand-item .brand-item--logo .logo--insert img,
.listBrand-logo .brand-item .brand-item--logo .logo--insert svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  font-family: "blur-up: auto", "object-fit: cover";
  object-fit: contain; }

.listBrand-logo .brand-item .brand-item--logo .logo--insert svg {
  width: 100%;
  height: 100%; }

.listBrand-logo .brand-item .brand-item--logo .lazyload {
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: opacity 500ms, filter 700ms;
  -webkit-transition: opacity 500ms, filter 700ms; }

.listBrand-logo .brand-item .brand-item--logo .lazyloading {
  opacity: 0.3;
  -webkit-filter: blur(8px);
  filter: blur(8px);
  transition: opacity 500ms, filter 700ms;
  -webkit-transition: opacity 500ms, filter 700ms; }

.listBrand-logo .brand-item .brand-item--logo .lazyloaded {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: opacity 500ms, filter 700ms;
  -webkit-transition: opacity 500ms, filter 700ms; }

.listBrand-logo .brand-item.brand-bitis .brand-item--logo svg {
  max-width: 84%; }

.listBrand-logo .brand-item.brand-aeon .brand-item--logo svg {
  max-width: 80%; }

.listBrand-logo .brand-item.brand-tchouse .brand-item--logo svg {
  max-width: 65%; }

@media (max-width: 991px) {
  .section-software-brands {
    display: none; } }

/*================= INSIDE HARAVAN =================*/
.section-hrv-inside {
  background: #f5f7fb;
  padding: 50px 0; }

.section-hrv-inside .hrv-inside--heading {
  padding-bottom: 28px;
  border-bottom: 1px solid #c2c7cb; }

.section-hrv-inside .hrv-inside--heading h2 {
  line-height: 1.4;
  font-size: 30px;
  color: #000000;
  margin: 0 0 4px;
  font-family: var(--hrv-font-family-bold);
  text-transform: uppercase; }

.section-hrv-inside .hrv-inside--heading .sub-title {
  font-size: 22px;
  color: #000000;
  margin: 0;
  font-family: var(--hrv-font-family-regular); }

.section-hrv-inside .inside-item {
  margin-top: 40px; }

.section-hrv-inside .inside-item__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section-hrv-inside .inside-item__inner .inside--image {
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  max-width: 32%;
  padding-top: 0px; }

.section-hrv-inside .inside-item__inner .inside--text {
  -ms-flex: 0 0 68%;
  flex: 0 0 68%;
  max-width: 68%;
  padding-left: 14px; }

.section-hrv-inside .inside-item__inner .inside--text p {
  margin: 0;
  font-size: 18px;
  color: #0a0c0f;
  line-height: 1.6; }

.section-hrv-inside .inside-item__inner .inside--image .boxlazy-image {
  max-width: 216px;
  box-sizing: content-box;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%; }

.section-hrv-inside .inside-item__inner .inside--image .boxlazy--insert {
  padding-bottom: 52%;
  height: 0;
  display: block;
  width: 100%; }

.section-hrv-inside .inside-item__inner .inside--image .boxlazy--insert img,
.section-hrv-inside .inside-item__inner .inside--image .boxlazy--insert svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  font-family: "blur-up: auto", "object-fit: cover";
  object-fit: contain; }

.section-hrv-inside .inside-item__inner .inside--image .boxlazy--insert .lazyload {
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: opacity 300ms, filter 400ms;
  -webkit-transition: opacity 300ms, filter 400ms; }

.section-hrv-inside .inside-item__inner .inside--image .boxlazy--insert .lazyloading {
  opacity: 0.3;
  -webkit-filter: blur(8px);
  filter: blur(8px);
  transition: opacity 300ms, filter 400ms;
  -webkit-transition: opacity 300ms, filter 400ms; }

.section-hrv-inside .inside-item__inner .inside--image .boxlazy--insert .lazyloaded {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: opacity 300ms, filter 400ms;
  -webkit-transition: opacity 300ms, filter 400ms; }

@media (max-width: 991px) and (min-width: 768px) {
  .section-hrv-inside .hrv-inside--heading h2 {
    font-size: 28px; }
  .section-hrv-inside .hrv-inside--heading .sub-title {
    font-size: 20px; }
  .section-hrv-inside .inside-item__inner .inside--text p {
    font-size: 16px; }
  .section-hrv-inside .inside-item__inner .inside--image .boxlazy-image {
    max-width: 76%; } }

@media (max-width: 767px) {
  .section-hrv-inside {
    padding: 35px 0; }
  .section-hrv-inside .hrv-inside--heading {
    padding-bottom: 20px; }
  .section-hrv-inside .hrv-inside--heading h2 {
    font-size: 25px; }
  .section-hrv-inside .hrv-inside--heading .sub-title {
    font-size: 18px; }
  .section-hrv-inside .inside-item {
    margin-top: 25px; }
  .section-hrv-inside .inside-item__inner .inside--text p {
    font-size: 13px; }
  .section-hrv-inside .inside-item__inner .inside--image .boxlazy-image {
    max-width: 100%; } }
