* {
  margin: 0;
  padding: 0; }

/* 1.2 - HTML5 Elements */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'sfuiText_regular',Helvetica,sans-serif;
  font-size: 16px;
  color: #26323d;
  line-height: 1.5;
  overflow-x: hidden;
  background: #fff;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 767px) {
    body {
      font-size: 14px; } }

a, a:hover {
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

a:hover {
  text-decoration: none; }

img, svg {
  max-width: 100%; }

ol, ul {
  margin: 0; }

p {
  margin: 0 0 10px; }

/*=======  ================================================*/
/* 1.8 - CSS3   */
@keyframes rightarrow {
  0% {
    transform: translateX(-7px); }
  100% {
    transform: translateX(0); } }

@keyframes click-wave {
  0% {
    height: 15px;
    width: 15px;
    opacity: 0.35;
    position: relative; }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    opacity: 0; } }

@-webkit-keyframes animate_zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1; } }

@keyframes animate_zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

/* end - CSS3 */
.sitebox-actions .btn-trial {
  font-size: 18px;
  font-family: 'sfuiText_bold';
  min-width: 240px;
  color: #ffffff;
  background: #2962FF;
  border: 1px solid #2962FF;
  padding: 12px 30px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2); }
  .sitebox-actions .btn-trial:before {
    background-color: #0584fe; }
  .sitebox-actions .btn-trial.disabled {
    pointer-events: none;
    opacity: 0.7; }
  .sitebox-actions .btn-trial--white {
    color: #2962FF;
    background: #ffffff; }
  .sitebox-actions .btn-trial:hover, .sitebox-actions .btn-trial:focus {
    color: #ffffff;
    background: #0584fe;
    border-color: #0584fe; }
  .sitebox-actions .btn-trial--white:hover, .sitebox-actions .btn-trial--white:focus {
    color: #ffffff;
    background: #0584fe;
    border-color: #0584fe; }

.sitebox-actions .txt-note {
  margin: 0;
  font-style: italic;
  font-size: 14px;
  margin: 0; }

.sitebox-actions .action-vector {
  padding-bottom: 2px; }

@media (max-width: 767px) {
  .sitebox-actions .action-vector {
    display: none; }
  .sitebox-actions .btn-trial {
    font-size: 16px;
    padding: 12px 15px;
    width: 100%;
    min-width: auto; } }

.section-onboarding-heading {
  background-color: #0948ee;
  padding: 60px 0 80px;
  background-image: url("../../../../file.hstatic.net/1000001117/file/img_c9613bb11998486ca6619d6b9a1f1879.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 0 40%; }
  .section-onboarding-heading .heading-page h1 {
    margin: 0 0 4px;
    line-height: 1.3;
    font-size: 40px;
    color: #ffffff;
    font-family: var(--hrv-font-family-bold); }
  .section-onboarding-heading .heading-page .block-info {
    font-size: 18px;
    color: #ffffff;
    font-family: 'sfuiText_medium',sans-serif; }
    .section-onboarding-heading .heading-page .block-info p {
      margin: 0; }
    .section-onboarding-heading .heading-page .block-info ul {
      margin: 6px 0 0px;
      list-style: none;
      font-family: 'sfuiText_regular',sans-serif; }
    .section-onboarding-heading .heading-page .block-info ul > li {
      position: relative;
      padding-left: 25px;
      margin-bottom: 4px; }
    .section-onboarding-heading .heading-page .block-info ul > li:before {
      content: "";
      width: 5px;
      height: 5px;
      background: #ffffff;
      border-radius: 50%;
      position: absolute;
      left: 8px;
      top: 9px; }
  @media (max-width: 767px) {
    .section-onboarding-heading {
      padding: 50px 0 60px;
      background-size: cover;
      background-position: 30% 100%; }
    .section-onboarding-heading .heading-page h1 {
      font-size: 30px; }
    .section-onboarding-heading .heading-page .block-info {
      font-size: 16px; } }

.section-onboarding-session {
  padding: 50px 0 100px;
  /*.listing-session {margin: 0 -10px;    justify-content: center;}*/ }
  .section-onboarding-session .onboarding-session {
    background: linear-gradient(180deg, #D0F1FF 0%, rgba(208, 241, 255, 0) 100%);
    border-radius: 12px 12px 0px 0px;
    padding: 25px 15px 0; }
    .section-onboarding-session .onboarding-session__titles {
      padding: 0 0px; }
      .section-onboarding-session .onboarding-session__titles .listing-session:not(.owl-loaded) {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .section-onboarding-session .onboarding-session__titles .listing-session:not(.owl-loaded) > div {
        -ms-flex: 0 0 calc(100%/4);
        flex: 0 0 calc(100%/4); }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-stage {
        display: flex; }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-item > div {
        height: 100%; }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-prev, .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-next {
        position: absolute;
        top: calc(50% - 18px);
        width: 36px;
        height: 36px;
        font-size: 0;
        border-radius: 50%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        background: #fff;
        border: 0px;
        outline: none;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-prev span:before, .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-next span:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center; }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-prev {
        left: -36px; }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-next {
        right: -36px; }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-prev span:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8 c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712 L143.492,221.863z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-next span:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734 L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8 C342.889,227.058,342.889,216.255,336.226,209.591z' fill='currentColor'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-prev.disabled, .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-next.disabled {
        opacity: 0.5;
        pointer-events: none; }
      .section-onboarding-session .onboarding-session__titles .session-loop {
        /*padding:0 2px;*/
        padding: 0 8px 16px; }
        .section-onboarding-session .onboarding-session__titles .session-loop__inner {
          opacity: 0.6;
          position: relative;
          z-index: 1;
          border-radius: 8px;
          padding: 10px 16px;
          display: block;
          height: 100%;
          background: #ffffff;
          cursor: pointer;
          box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
          flex-direction: column; }
          .section-onboarding-session .onboarding-session__titles .session-loop__inner:before {
            content: "";
            position: absolute;
            bottom: -1px;
            top: -1px;
            left: -1px;
            right: -1px;
            visibility: hidden;
            opacity: 0;
            z-index: -1;
            background: #ffffff;
            border: 2px solid transparent;
            transform-origin: center center;
            transform: skewY(0deg) scaleY(1);
            -webkit-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease; }
        .section-onboarding-session .onboarding-session__titles .session-loop__action {
          margin-top: auto;
          border-top: 1px dashed #e5e5e5;
          padding-top: 14px;
          display: none; }
        .section-onboarding-session .onboarding-session__titles .session-loop .text-time {
          margin: 0 0;
          text-align: center; }
          .section-onboarding-session .onboarding-session__titles .session-loop .text-time span {
            font-size: 16px;
            letter-spacing: -0.4px;
            color: #ffffff;
            font-family: 'sfuiText_bold',sans-serif;
            display: inline-block;
            background: #2962ff;
            padding: 2px 18px;
            border-radius: 15px; }
        .section-onboarding-session .onboarding-session__titles .session-loop .text-title {
          font-size: 14px;
          margin: 0px 0 0px;
          line-height: 1.4;
          color: #000000;
          font-family: 'sfuiText_regular',sans-serif;
          letter-spacing: -0.35px; }
          .section-onboarding-session .onboarding-session__titles .session-loop .text-title span.lb {
            display: block;
            color: #0047ba;
            line-height: 1.2;
            font-size: 22px;
            font-family: var(--hrv-font-family-bold); }
        .section-onboarding-session .onboarding-session__titles .session-loop .text-link {
          margin: 0;
          font-size: 15px; }
          .section-onboarding-session .onboarding-session__titles .session-loop .text-link a {
            color: #0047ba;
            font-family: 'sfuiText_semibold', sans-serif;
            padding-bottom: 2px;
            text-decoration: none;
            background-image: linear-gradient(to right, #0047ba 0%, #0047ba 100%);
            background-size: 100% 1px;
            background-position: 0px 90%;
            background-repeat: no-repeat;
            transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s; }
            .section-onboarding-session .onboarding-session__titles .session-loop .text-link a:hover {
              background-size: 0px 1px;
              text-decoration: none; }
        .section-onboarding-session .onboarding-session__titles .session-loop .text-view {
          margin: 0; }
          .section-onboarding-session .onboarding-session__titles .session-loop .text-view .link-view {
            color: #000000;
            font-size: 15px;
            cursor: pointer;
            font-family: 'sfuiText_semibold', sans-serif;
            padding-bottom: 2px;
            text-decoration: none;
            background-image: linear-gradient(to right, #000000 0%, #000000 100%);
            background-size: 80% 1px;
            background-position: 0px 90%;
            background-repeat: no-repeat;
            transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s; }
            .section-onboarding-session .onboarding-session__titles .session-loop .text-view .link-view svg {
              margin-bottom: 1px;
              height: 16px;
              width: 20px;
              margin-left: 5px;
              fill: currentColor;
              overflow: hidden; }
            .section-onboarding-session .onboarding-session__titles .session-loop .text-view .link-view:hover {
              background-size: 0px 1px;
              text-decoration: none; }
        .section-onboarding-session .onboarding-session__titles .session-loop .text-link + .text-view {
          margin-top: 7px; }
        .section-onboarding-session .onboarding-session__titles .session-loop:hover .session-loop__inner {
          opacity: 1; }
        .section-onboarding-session .onboarding-session__titles .session-loop.current {
          pointer-events: none; }
          .section-onboarding-session .onboarding-session__titles .session-loop.current .session-loop__inner {
            opacity: 1; }
          .section-onboarding-session .onboarding-session__titles .session-loop.current .session-loop__inner:before {
            bottom: -8px;
            top: -8px;
            border-color: #2962FF;
            border-radius: 12px;
            visibility: visible;
            opacity: 1; }
    .section-onboarding-session .onboarding-session__content {
      border-radius: 12px 12px 0 0;
      background: #ffffff;
      position: relative;
      z-index: 2;
      margin: 0 8px; }
      .section-onboarding-session .onboarding-session__content .onboarding-session-carousel .owl-item:not(.active) {
        visibility: hidden; }
      .section-onboarding-session .onboarding-session__content .onboarding-session-carousel .owl-item.active {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
      .section-onboarding-session .onboarding-session__content .onboarding-session-carousel .animated {
        -webkit-animation-duration: 500ms;
        animation-duration: 500ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
      .section-onboarding-session .onboarding-session__content .onboarding-session-carousel .owl-animated-out {
        z-index: 1; }
      .section-onboarding-session .onboarding-session__content .onboarding-session-carousel .owl-animated-in {
        z-index: 0; }
      .section-onboarding-session .onboarding-session__content .onboarding-session-carousel:not(.owl-loaded) {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow: hidden; }
      .section-onboarding-session .onboarding-session__content .onboarding-session-carousel:not(.owl-loaded) > div {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; }
      .section-onboarding-session .onboarding-session__content .wrapper-session-detail {
        padding: 35px 30px; }
      .section-onboarding-session .onboarding-session__content .block-header {
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-bottom: 2px solid #7ADFFF; }
        .section-onboarding-session .onboarding-session__content .block-header h2 {
          margin: 0;
          line-height: 1.3;
          color: #0047ba;
          font-size: 32px;
          font-family: var(--hrv-font-family-bold); }
      .section-onboarding-session .onboarding-session__content .block-content {
        margin-bottom: 30px; }
        .section-onboarding-session .onboarding-session__content .block-content__item {
          margin-bottom: 20px; }
        .section-onboarding-session .onboarding-session__content .block-content b, .section-onboarding-session .onboarding-session__content .block-content strong {
          font-weight: initial;
          font-family: 'sfuiText_semibold',sans-serif; }
        .section-onboarding-session .onboarding-session__content .block-content p {
          margin: 0; }
        .section-onboarding-session .onboarding-session__content .block-content h2, .section-onboarding-session .onboarding-session__content .block-content h3 {
          color: #000000;
          font-size: 20px;
          position: relative;
          margin: 0 0 10px;
          font-family: 'sfuiText_bold', sans-serif; }
        .section-onboarding-session .onboarding-session__content .block-content p strong, .section-onboarding-session .onboarding-session__content .block-content p b, .section-onboarding-session .onboarding-session__content .block-content .txtbold {
          margin: 0;
          color: #000000;
          font-family: 'sfuiText_bold',sans-serif; }
        .section-onboarding-session .onboarding-session__content .block-content ol {
          margin: 6px 0 0px;
          list-style: none;
          counter-reset: li; }
          .section-onboarding-session .onboarding-session__content .block-content ol li {
            position: relative;
            padding-left: 28px;
            margin-bottom: 5px;
            letter-spacing: -0.4px; }
          .section-onboarding-session .onboarding-session__content .block-content ol li:before {
            content: counter(li) ".";
            position: absolute;
            left: 4px;
            top: 0px; }
          .section-onboarding-session .onboarding-session__content .block-content ol > li {
            counter-increment: li;
            counter-reset: nav1; }
          .section-onboarding-session .onboarding-session__content .block-content ol > li > ol {
            counter-reset: item; }
          .section-onboarding-session .onboarding-session__content .block-content ol > li > ol > li {
            counter-increment: nav1;
            counter-reset: nav2; }
          .section-onboarding-session .onboarding-session__content .block-content ol > li > ol > li:before {
            content: counter(li) "." counter(nav1) "  ";
            left: 0; }
          .section-onboarding-session .onboarding-session__content .block-content ol ol > li > ol > li {
            counter-increment: nav2;
            counter-reset: nav3;
            padding-left: 0; }
          .section-onboarding-session .onboarding-session__content .block-content ol ol > li > ol > li:before {
            content: counter(li) "." counter(nav1) "." counter(nav2) "  ";
            left: 0;
            margin-right: 5px;
            position: relative; }
        .section-onboarding-session .onboarding-session__content .block-content ul {
          margin: 6px 0 0px;
          list-style: none; }
          .section-onboarding-session .onboarding-session__content .block-content ul > li {
            position: relative;
            padding-left: 25px;
            margin-bottom: 4px; }
          .section-onboarding-session .onboarding-session__content .block-content ul > li:before {
            content: "";
            width: 5px;
            height: 5px;
            background: #2a363b;
            border-radius: 50%;
            position: absolute;
            left: 8px;
            top: 9px; }
          .section-onboarding-session .onboarding-session__content .block-content ul ul {
            list-style: inside; }
          .section-onboarding-session .onboarding-session__content .block-content ul ul li:before {
            display: none; }
      .section-onboarding-session .onboarding-session__content .block-forms {
        border-radius: 8px;
        box-shadow: 0px 0px 4px rgba(168, 197, 218, 0.5);
        padding: 30px 30px 10px; }
        .section-onboarding-session .onboarding-session__content .block-forms--title {
          color: #0047ba;
          font-size: 28px;
          position: relative;
          margin: 0 0 0px;
          text-align: center;
          font-family: var(--hrv-font-family-bold); }
        .section-onboarding-session .onboarding-session__content .block-forms--iframe {
          padding: 20px 0 0;
          height: 520px; }
          .section-onboarding-session .onboarding-session__content .block-forms--iframe iframe {
            width: 100%;
            height: 100%;
            border: 0; }
    .section-onboarding-session .onboarding-session .onboarding-session-bottom {
      padding: 0 30px; }
      .section-onboarding-session .onboarding-session .onboarding-session-bottom .infomation_wrap {
        background: #E4FAFC;
        text-align: center;
        padding: 35px 40px;
        border-radius: 4px; }
        .section-onboarding-session .onboarding-session .onboarding-session-bottom .infomation_wrap h4 {
          margin: 0 0 25px;
          line-height: 1.3;
          color: #0047ba;
          font-size: 28px;
          font-family: var(--hrv-font-family-bold); }
  @media (max-width: 991px) and (min-width: 768px) {
    .section-onboarding-session .onboarding-session__titles {
      padding: 0 0px; }
      .section-onboarding-session .onboarding-session__titles .listing-session:not(.owl-loaded) {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow: hidden; }
        .section-onboarding-session .onboarding-session__titles .listing-session:not(.owl-loaded) > div {
          -ms-flex: 0 0 calc(100%/4);
          flex: 0 0 calc(100%/4); }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-item > div {
        height: 100%; }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-prev {
        left: -6px; }
      .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-next {
        right: -6px; }
      .section-onboarding-session .onboarding-session__titles .session-loop {
        padding: 20px 8px; }
    .section-onboarding-session .onboarding-session__content .block-header h2 {
      font-size: 28px; } }
  @media (max-width: 767px) {
    .section-onboarding-session .onboarding-session {
      padding: 5px 6px; }
      .section-onboarding-session .onboarding-session__titles {
        padding: 0 0px; }
        .section-onboarding-session .onboarding-session__titles .listing-session:not(.owl-loaded) {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          overflow: hidden; }
        .section-onboarding-session .onboarding-session__titles .listing-session:not(.owl-loaded) > div {
          -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
        .section-onboarding-session .onboarding-session__titles .listing-session .owl-item > div {
          height: 100%; }
        .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-prev {
          left: -6px; }
        .section-onboarding-session .onboarding-session__titles .listing-session .owl-nav .owl-next {
          right: -6px; }
        .section-onboarding-session .onboarding-session__titles .session-loop {
          padding: 20px 6px; }
          .section-onboarding-session .onboarding-session__titles .session-loop__inner {
            opacity: 1;
            padding: 12px 36px;
            border: 2px solid #2962FF;
            align-items: center;
            flex-direction: initial; }
            .section-onboarding-session .onboarding-session__titles .session-loop__inner:before {
              display: none; }
      .section-onboarding-session .onboarding-session__content {
        margin: 0 6px; }
        .section-onboarding-session .onboarding-session__content .wrapper-session-detail {
          padding: 20px 12px; }
        .section-onboarding-session .onboarding-session__content .block-header h2 {
          font-size: 26px; }
        .section-onboarding-session .onboarding-session__content .block-forms {
          box-shadow: none;
          padding: 20px 0px 10px; }
          .section-onboarding-session .onboarding-session__content .block-forms--title {
            font-size: 24px;
            letter-spacing: -0.3px; }
          .section-onboarding-session .onboarding-session__content .block-forms--iframe {
            height: 740px; }
      .section-onboarding-session .onboarding-session .onboarding-session-bottom {
        padding: 0 2px; }
        .section-onboarding-session .onboarding-session .onboarding-session-bottom .infomation_wrap {
          background: #E4FAFC;
          text-align: center;
          padding: 35px 18px;
          border-radius: 2px; }
          .section-onboarding-session .onboarding-session .onboarding-session-bottom .infomation_wrap h4 {
            font-size: 25px; } }

.section-onboarding-bottom {
  background: #E4FAFC;
  padding: 70px 0; }
  .section-onboarding-bottom .infomation_wrap {
    text-align: center;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto; }
    .section-onboarding-bottom .infomation_wrap h2 {
      margin: 0 0 25px;
      line-height: 1.3;
      color: #0047ba;
      font-size: 32px;
      font-family: var(--hrv-font-family-bold); }

/* popup Register  */
.modal-onboarding.fade.show {
  opacity: 1;
  z-index: 10551; }

.modal-onboarding .modal-content {
  background-color: #fff;
  border: 0;
  box-shadow: 0px 0px 40px 0px rgba(0, 172, 193, 0.16);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 0px;
  overflow: hidden; }

.modal-onboarding .modal-heading {
  background: #ffffff;
  border: 0;
  text-align: center;
  padding: 30px 45px 10px; }

.modal-onboarding .modal-heading .modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
  margin: 0;
  padding: 0;
  outline: none;
  margin-top: 0px;
  opacity: 1;
  float: initial;
  text-shadow: none;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 50%;
  text-align: center;
  background: #e5e5e5;
  border: 1px solid #e5e5e5; }

.modal-onboarding .modal-heading .modal-close svg {
  display: block;
  fill: #33475b;
  width: 20px;
  height: 100%;
  opacity: 0.7;
  margin: auto;
  -webkit-transition: -webkit-transform .25s, opacity .25s;
  -moz-transition: -moz-transform .25s, opacity .25s;
  transition: transform .25s, opacity .25s; }

.modal-onboarding .modal-heading .modal-close:hover svg {
  opacity: 1;
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  transform: scale(1.12); }

.modal-onboarding .modal-heading .modal-title {
  width: 100%;
  padding: 0px 0px 0;
  line-height: 1.4;
  color: #0047ba;
  font-size: 32px;
  margin: 0px auto 2px;
  font-family: var(--hrv-font-family-bold); }

.modal-onboarding .modal-heading .modal-subtitle {
  font-size: 18px;
  position: relative;
  margin: 0;
  font-family: 'sfuiText_bold', sans-serif; }

.modal-onboarding .modal-bodymdl {
  position: relative;
  padding: 2px 30px 15px; }

.modal-onboarding .modal-footer {
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px 30px 15px; }

.modal-onboarding .modal-footer .field-group-button {
  margin: 0;
  width: 100%; }

/* Modal body form  */
/* Modal body form  */
.fieldset .form-row {
  margin: 0 -8px; }

.fieldset .form-row > [class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 20px; }

.field-group .field-messages {
  font-size: 13px;
  margin: 5px 0;
  padding: 0 20px;
  color: #bababa; }

.field-input-wrapper {
  position: relative; }

.field-input-wrapper .field-label {
  font-size: 15px;
  color: #666666;
  font-family: 'sfuiText_medium';
  display: block;
  font-weight: initial;
  padding: 0;
  margin: 0 0 7px; }

.field-input-wrapper .field-label b {
  color: #ff0000;
  font-weight: initial;
  font-size: 80%;
  font-family: 'sfuiText_regular';
  vertical-align: 2px; }

.field-input-wrapper .field-placeholder {
  font-size: 15px;
  color: #666666;
  display: block;
  font-weight: initial;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 18px;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  pointer-events: none;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-transition-property: opacity, transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms; }

.field-required .field-input-wrapper .field-placeholder:after {
  content: " (*)";
  font-size: 10px;
  color: #ff0000;
  margin-left: 2px;
  vertical-align: 3px; }

.field-input-wrapper .field-input,
.field-input-wrapper .field-select {
  font-family: 'sfuiText_regular';
  font-size: 15px;
  color: #0047ba;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  display: block;
  width: 100%;
  padding: 12px 18px;
  box-sizing: border-box;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: padding 150ms;
  -moz-transition: padding 150ms;
  transition: padding 150ms; }

.field-input-wrapper textarea.field-input {
  width: 100%;
  max-width: 100%;
  resize: none; }

.field-group .field-input-wrapper .field-input[type=number]::-webkit-outer-spin-button,
.field-group .field-input-wrapper .field-input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.field-group .field-input-wrapper .field-input::-webkit-input-placeholder {
  color: #666666;
  font-size: 0; }

.field-group .field-input-wrapper .field-input::-moz-placeholder {
  color: #666666;
  font-size: 0; }

.field-group .field-input-wrapper .field-input::-ms-input-placeholder {
  color: #666666;
  font-size: 0; }

/* select */
.field-group-select .field-input-wrapper:not(.js-is-field) .field-placeholder {
  opacity: 0;
  visibility: hidden; }

.field-input-wrapper .field-select-dropdown {
  position: relative; }

.field-input-wrapper .field-select-dropdown:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 14px;
  top: calc(50% - 7px);
  right: 15px;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%236f6c90' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat;
  background-position: right center;
  background-size: 10px 14px; }

.field-input-wrapper .field-select-dropdown .field-select {
  padding-right: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.field-input-wrapper .field-select-dropdown .field-select option,
.field-input-wrapper .field-select-dropdown .field-select:invalid {
  color: #3d5067;
  font-size: 15px; }

.field-input-wrapper .field-select-dropdown .field-select option[value="null"],
.field-input-wrapper .field-select-dropdown .field-select option[value=""] {
  color: #bababa; }

/* js-active */
.field-input-wrapper .field-input:focus,
.js-is-field.field-input-wrapper .field-input,
.js-is-field.field-input-wrapper .field-select {
  padding-top: 20px;
  padding-bottom: 4px; }

.field-input-wrapper .field-input:focus + .field-placeholder,
.js-is-field.field-input-wrapper .field-placeholder {
  visibility: visible;
  opacity: 1;
  font-size: 11px;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px); }

.field-group.field-group-error .field-input-wrapper .field-label {
  color: #ff0000; }

/* checkbox- radio */
.field-group.field-group-radio, .field-group.field-group-checkbox {
  margin-bottom: 20px; }

.field-group.field-group-radio .field-input-wrapper .field-label,
.field-group.field-group-checkbox .field-input-wrapper .field-label {
  font-size: 15px;
  color: #212121;
  margin-bottom: 1px; }

.field-group.field-group-radio .field-input-wrapper .field-label.red,
.field-group.field-group-checkbox .field-input-wrapper .field-label.red {
  color: red; }

.field-group .listChoice-option .field-check {
  margin-top: 7px;
  margin-bottom: 4px; }

.listChoice-option .field-check .field-check-option {
  margin: 0;
  padding: 0;
  position: relative; }

.listChoice-option .field-check .field-check-option input + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  margin: 0; }

.listChoice-option .field-check .field-check-option input {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  line-height: 14px;
  color: #fff;
  background: #ffffff;
  border: 2px solid #8C9196;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  margin: 0;
  transition: all 0.15s ease-out 0s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.listChoice-option .field-check .field-check-option input:before {
  content: '\2714\fe0e';
  font-size: 12px;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  text-align: center; }

.listChoice-option .field-check .field-check-option input.input-radius,
.listChoice-option .field-check .field-check-option input.input-radius:after {
  border-radius: 50%; }

.listChoice-option .field-check .field-check-option input:hover {
  background: #fff; }

.listChoice-option .field-check .field-check-option input:hover:before {
  opacity: 1;
  color: #0047ba; }

.listChoice-option .field-check .field-check-option input:checked {
  background: #0047ba;
  border-color: #0047ba; }

.listChoice-option .field-check .field-check-option input:checked:after {
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  background: #00b0ff;
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s; }

.listChoice-option .field-check .field-check-option input:checked:before {
  opacity: 1;
  color: #ffffff; }

@keyframes click-wave {
  0% {
    height: 15px;
    width: 15px;
    opacity: 0.35;
    position: relative; }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    opacity: 0; } }

.listChoice-flexbox {
  margin: 0 -5px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.listChoice-flexbox > div {
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 10px; }

.listChoice-flexbox .field-check .field-check-option input[type='radio'] {
  position: absolute;
  top: 8px;
  left: 12px;
  height: 18px;
  visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.listChoice-flexbox .field-check .field-check-option input[type='radio'] + label {
  margin: 0;
  cursor: pointer;
  color: #3d5067;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 8px 5px;
  border-radius: 4px;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in; }

.listChoice-flexbox .field-check .field-check-option input[type='radio'] + label:before {
  content: "";
  width: 2px;
  height: 110%;
  background-color: #0047ba;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1); }

.listChoice-flexbox .field-check .field-check-option input[type='radio']:checked + label {
  border-color: #0047ba;
  color: #fff; }

.listChoice-flexbox .field-check .field-check-option input[type='radio']:checked + label:before {
  width: 120%;
  transform: translate(-50%, -50%);
  opacity: 1; }

/* button form submit */
.field-group-button .btn-submit-form {
  width: 100%; }

@media (min-width: 768px) {
  .modal-onboarding .modal-dialog {
    max-width: 520px; }
  .modal-onboarding .modal-dialog-scrollable {
    max-height: calc(100% - 40px); }
  .modal-onboarding .modal-bodyform, .modalForm-register .modal-footer {
    padding-left: 35px;
    padding-right: 35px; } }

@media (max-width: 767px) {
  .modal-onboarding .modal-heading {
    padding: 16px 35px 10px 15px; }
  .modal-onboarding .modal-heading .modal-title {
    font-size: 22px; }
  .modal-onboarding .modal-bodymdl {
    position: relative;
    padding: 20px 16px 15px; }
  .modal-onboarding .modal-dialog-scrollable {
    max-height: calc(100% - 40px); }
  .field-group-button .button {
    width: 100%; }
  .modalForm-register .modal-bodyform {
    padding: 8px 15px 30px; }
  .field-input-wrapper .field-placeholder {
    left: 15px; }
  .field-input-wrapper .field-input, .field-input-wrapper .field-select {
    padding-left: 15px;
    padding-right: 15px; } }

/* MODAL SUCCESS  */
.modal.modalForm-success.fade.show {
  opacity: 1; }

.modal.modalForm-success.fade .modal-dialog {
  opacity: 0;
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.modal.modalForm-success.fade.show .modal-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.modal.modalForm-success {
  background: rgba(3, 17, 27, 0.7);
  padding: 0; }

.modalForm-success .modal-content {
  position: relative;
  border: 0;
  background-color: #0f29ff;
  background: -moz-linear-gradient(140deg, #36d1dc 0%, #0f29ff 65%);
  background: -webkit-linear-gradient(140deg, #36d1dc 0%, #0f29ff 65%);
  background: -ms-linear-gradient(140deg, #36d1dc 0%, #0f29ff 65%); }

.modalForm-success.modal-succes-haraads .modal-content {
  background-color: #ff6d00;
  background: -moz-linear-gradient(130deg, #fe994c 0%, #ff6d00 99%);
  background: -webkit-linear-gradient(130deg, #fe994c 0%, #ff6d00 99%);
  background: -ms-linear-gradient(130deg, #fe994c 0%, #ff6d00 99%); }

.modalForm-success .modal-content:before, .modalForm-success .modal-content:after {
  content: "";
  position: absolute;
  width: 35%;
  top: 0;
  bottom: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.modalForm-success .modal-content:after {
  right: 0;
  background-image: url(../../../../file.hstatic.net/1000001117/file/modal-succes-vector-right-min.png); }

.modalForm-success .modal-content:before {
  left: 0;
  background-image: url(../../../../file.hstatic.net/1000001117/file/modal-succes-vector-left-min.png); }

.modalForm-success .modal-content .modal-body {
  z-index: 2; }

.modal.modalForm-success .modal-body img {
  width: 200px; }

.modalForm-success .modal-body .modal-title {
  font-size: 30px;
  color: #fff;
  font-family: var(--hrv-font-family-bold);
  margin: 0 0 30px;
  text-transform: uppercase;
  padding-bottom: 10px;
  position: relative; }

.modalForm-success .modal-body .modal-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: 1px;
  background: #fff; }

.modalForm-success .modal-body .modal-text {
  font-size: 16px;
  color: #ffffff;
  margin: 30px 0 0; }

@media (min-width: 768px) {
  .modalForm-success .modal-dialog {
    width: 600px; } }

@media (max-width: 767px) {
  .modalForm-success .modal-content:before,
  .modalForm-success .modal-content:after {
    width: 40%;
    background-size: auto; } }
