.elementor-kit-6{--e-global-color-primary:#131313;--e-global-color-secondary:#FFE100;--e-global-color-text:#161616;--e-global-color-accent:#FFE100;--e-global-color-23ad7b4:#F9F9F9;font-family:"Metropolis", Sans-serif;font-size:18px;font-weight:400;}.elementor-kit-6 e-page-transition{background-color:#FFBC7D;}.elementor-kit-6 a{color:var( --e-global-color-accent );font-family:"Metropolis", Sans-serif;}.elementor-kit-6 a:hover{color:var( --e-global-color-accent );}.elementor-kit-6 h1{font-family:"Metropolis", Sans-serif;font-size:48px;font-weight:700;}.elementor-kit-6 h2{font-family:"Metropolis", Sans-serif;font-size:38px;font-weight:700;}.elementor-kit-6 h3{font-family:"Metropolis", Sans-serif;font-size:30px;font-weight:700;}.elementor-kit-6 h4{font-family:"Metropolis", Sans-serif;font-size:24px;font-weight:700;}.elementor-kit-6 h5{font-family:"Metropolis", Sans-serif;font-size:18px;font-weight:700;}.elementor-kit-6 h6{font-family:"Metropolis", Sans-serif;font-size:15px;font-weight:700;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1300px;}.e-con{--container-max-width:1300px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1024px){.elementor-kit-6{font-size:16px;}.elementor-kit-6 h1{font-size:40px;}.elementor-kit-6 h2{font-size:36px;}.elementor-kit-6 h3{font-size:34px;}.elementor-kit-6 h4{font-size:32px;}.elementor-kit-6 h5{font-size:26px;}.elementor-kit-6 h6{font-size:22px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-6{font-size:16px;}.elementor-kit-6 h1{font-size:35px;}.elementor-kit-6 h2{font-size:25px;}.elementor-kit-6 h3{font-size:20px;}.elementor-kit-6 h4{font-size:15px;}.elementor-kit-6 h5{font-size:12px;}.elementor-kit-6 h6{font-size:10px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../../2024/12/Metropolis-Thin-2.ttf') format('truetype');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2024/12/Metropolis-Light-2-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2024/12/Metropolis-Regular-2-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2024/12/Metropolis-Medium-2-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2024/12/Metropolis-SemiBold-2-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2024/12/Metropolis-Bold-2-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2024/12/Metropolis-ExtraBold-1.ttf') format('truetype');
}
/* End Custom Fonts CSS */